<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arm_2_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0022</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0023</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0033</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0035</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>arm_2_0036</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{3,3}}</string>
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>arm_2.png</string>
			<key>size</key>
			<string>{32,32}</string>
			<key>textureFileName</key>
			<string>arm_2.png</string>
		</dict>
	</dict>
</plist>
