<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_28_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{16,16}}</string>
				<key>offset</key>
				<string>{-25,-98}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,98},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>effe_28_0001</key>
			<dict>
				<key>frame</key>
				<string>{{16,0},{51,57}}</string>
				<key>offset</key>
				<string>{-3,-42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,57},{51,57}}</string>
				<key>sourceSize</key>
				<string>{51,57}</string>
			</dict>
			<key>effe_28_0002</key>
			<dict>
				<key>frame</key>
				<string>{{67,0},{52,58}}</string>
				<key>offset</key>
				<string>{-3,-41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,56},{52,58}}</string>
				<key>sourceSize</key>
				<string>{52,58}</string>
			</dict>
			<key>effe_28_0003</key>
			<dict>
				<key>frame</key>
				<string>{{119,0},{53,59}}</string>
				<key>offset</key>
				<string>{-3,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,55},{53,59}}</string>
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>effe_28_0004</key>
			<dict>
				<key>frame</key>
				<string>{{172,0},{42,60}}</string>
				<key>offset</key>
				<string>{-4,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,54},{42,60}}</string>
				<key>sourceSize</key>
				<string>{42,60}</string>
			</dict>
			<key>effe_28_0005</key>
			<dict>
				<key>frame</key>
				<string>{{214,0},{42,61}}</string>
				<key>offset</key>
				<string>{-4,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,53},{42,61}}</string>
				<key>sourceSize</key>
				<string>{42,61}</string>
			</dict>
			<key>effe_28_0006</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{42,61}}</string>
				<key>offset</key>
				<string>{-4,-36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,53},{42,61}}</string>
				<key>sourceSize</key>
				<string>{42,61}</string>
			</dict>
			<key>effe_28_0007</key>
			<dict>
				<key>frame</key>
				<string>{{298,0},{41,63}}</string>
				<key>offset</key>
				<string>{-4,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,51},{41,63}}</string>
				<key>sourceSize</key>
				<string>{41,63}</string>
			</dict>
			<key>effe_28_0008</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{40,63}}</string>
				<key>offset</key>
				<string>{-4,-33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,51},{40,63}}</string>
				<key>sourceSize</key>
				<string>{40,63}</string>
			</dict>
			<key>effe_28_0009</key>
			<dict>
				<key>frame</key>
				<string>{{379,0},{39,63}}</string>
				<key>offset</key>
				<string>{-4,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,51},{39,63}}</string>
				<key>sourceSize</key>
				<string>{39,63}</string>
			</dict>
			<key>effe_28_0010</key>
			<dict>
				<key>frame</key>
				<string>{{418,0},{38,64}}</string>
				<key>offset</key>
				<string>{-4,-30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,50},{38,64}}</string>
				<key>sourceSize</key>
				<string>{38,64}</string>
			</dict>
			<key>effe_28_0011</key>
			<dict>
				<key>frame</key>
				<string>{{456,0},{38,65}}</string>
				<key>offset</key>
				<string>{-4,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,49},{38,65}}</string>
				<key>sourceSize</key>
				<string>{38,65}</string>
			</dict>
			<key>effe_28_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{37,65}}</string>
				<key>offset</key>
				<string>{-4,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,49},{37,65}}</string>
				<key>sourceSize</key>
				<string>{37,65}</string>
			</dict>
			<key>effe_28_0013</key>
			<dict>
				<key>frame</key>
				<string>{{37,65},{36,65}}</string>
				<key>offset</key>
				<string>{-4,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,49},{36,65}}</string>
				<key>sourceSize</key>
				<string>{36,65}</string>
			</dict>
			<key>effe_28_0014</key>
			<dict>
				<key>frame</key>
				<string>{{73,65},{37,65}}</string>
				<key>offset</key>
				<string>{-4,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,49},{37,65}}</string>
				<key>sourceSize</key>
				<string>{37,65}</string>
			</dict>
			<key>effe_28_0015</key>
			<dict>
				<key>frame</key>
				<string>{{110,65},{36,65}}</string>
				<key>offset</key>
				<string>{-5,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,49},{36,65}}</string>
				<key>sourceSize</key>
				<string>{36,65}</string>
			</dict>
			<key>effe_28_0016</key>
			<dict>
				<key>frame</key>
				<string>{{146,65},{37,65}}</string>
				<key>offset</key>
				<string>{-5,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,49},{37,65}}</string>
				<key>sourceSize</key>
				<string>{37,65}</string>
			</dict>
			<key>effe_28_0017</key>
			<dict>
				<key>frame</key>
				<string>{{183,65},{37,66}}</string>
				<key>offset</key>
				<string>{-5,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,48},{37,66}}</string>
				<key>sourceSize</key>
				<string>{37,66}</string>
			</dict>
			<key>effe_28_0018</key>
			<dict>
				<key>frame</key>
				<string>{{220,65},{40,68}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,46},{40,68}}</string>
				<key>sourceSize</key>
				<string>{40,68}</string>
			</dict>
			<key>effe_28_0019</key>
			<dict>
				<key>frame</key>
				<string>{{260,65},{41,71}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,43},{41,71}}</string>
				<key>sourceSize</key>
				<string>{41,71}</string>
			</dict>
			<key>effe_28_0020</key>
			<dict>
				<key>frame</key>
				<string>{{301,65},{43,88}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,26},{43,88}}</string>
				<key>sourceSize</key>
				<string>{43,88}</string>
			</dict>
			<key>effe_28_0021</key>
			<dict>
				<key>frame</key>
				<string>{{344,65},{44,89}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,25},{44,89}}</string>
				<key>sourceSize</key>
				<string>{44,89}</string>
			</dict>
			<key>effe_28_0022</key>
			<dict>
				<key>frame</key>
				<string>{{388,65},{22,58}}</string>
				<key>offset</key>
				<string>{-23,-41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,56},{22,58}}</string>
				<key>sourceSize</key>
				<string>{22,58}</string>
			</dict>
			<key>effe_28_0023</key>
			<dict>
				<key>frame</key>
				<string>{{410,65},{23,59}}</string>
				<key>offset</key>
				<string>{-22,-39}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,55},{23,59}}</string>
				<key>sourceSize</key>
				<string>{23,59}</string>
			</dict>
			<key>effe_28_0024</key>
			<dict>
				<key>frame</key>
				<string>{{433,65},{24,60}}</string>
				<key>offset</key>
				<string>{-22,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,54},{24,60}}</string>
				<key>sourceSize</key>
				<string>{24,60}</string>
			</dict>
			<key>effe_28_0025</key>
			<dict>
				<key>frame</key>
				<string>{{457,65},{25,61}}</string>
				<key>offset</key>
				<string>{-21,-36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,53},{25,61}}</string>
				<key>sourceSize</key>
				<string>{25,61}</string>
			</dict>
			<key>effe_28_0026</key>
			<dict>
				<key>frame</key>
				<string>{{482,65},{27,61}}</string>
				<key>offset</key>
				<string>{-20,-35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,53},{27,61}}</string>
				<key>sourceSize</key>
				<string>{27,61}</string>
			</dict>
			<key>effe_28_0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{28,63}}</string>
				<key>offset</key>
				<string>{-20,-33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,51},{28,63}}</string>
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>effe_28_0028</key>
			<dict>
				<key>frame</key>
				<string>{{28,154},{29,63}}</string>
				<key>offset</key>
				<string>{-19,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,51},{29,63}}</string>
				<key>sourceSize</key>
				<string>{29,63}</string>
			</dict>
			<key>effe_28_0029</key>
			<dict>
				<key>frame</key>
				<string>{{57,154},{31,64}}</string>
				<key>offset</key>
				<string>{-18,-30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,50},{31,64}}</string>
				<key>sourceSize</key>
				<string>{31,64}</string>
			</dict>
			<key>effe_28_0030</key>
			<dict>
				<key>frame</key>
				<string>{{88,154},{31,64}}</string>
				<key>offset</key>
				<string>{-18,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,50},{31,64}}</string>
				<key>sourceSize</key>
				<string>{31,64}</string>
			</dict>
			<key>effe_28_0031</key>
			<dict>
				<key>frame</key>
				<string>{{119,154},{33,65}}</string>
				<key>offset</key>
				<string>{-17,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,49},{33,65}}</string>
				<key>sourceSize</key>
				<string>{33,65}</string>
			</dict>
			<key>effe_28_0032</key>
			<dict>
				<key>frame</key>
				<string>{{152,154},{34,65}}</string>
				<key>offset</key>
				<string>{-16,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,49},{34,65}}</string>
				<key>sourceSize</key>
				<string>{34,65}</string>
			</dict>
			<key>effe_28_0033</key>
			<dict>
				<key>frame</key>
				<string>{{186,154},{35,65}}</string>
				<key>offset</key>
				<string>{-16,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,49},{35,65}}</string>
				<key>sourceSize</key>
				<string>{35,65}</string>
			</dict>
			<key>effe_28_0034</key>
			<dict>
				<key>frame</key>
				<string>{{221,154},{36,66}}</string>
				<key>offset</key>
				<string>{-15,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,48},{36,66}}</string>
				<key>sourceSize</key>
				<string>{36,66}</string>
			</dict>
			<key>effe_28_0035</key>
			<dict>
				<key>frame</key>
				<string>{{257,154},{38,65}}</string>
				<key>offset</key>
				<string>{-14,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,49},{38,65}}</string>
				<key>sourceSize</key>
				<string>{38,65}</string>
			</dict>
			<key>effe_28_0036</key>
			<dict>
				<key>frame</key>
				<string>{{295,154},{38,66}}</string>
				<key>offset</key>
				<string>{-14,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,48},{38,66}}</string>
				<key>sourceSize</key>
				<string>{38,66}</string>
			</dict>
			<key>effe_28_0037</key>
			<dict>
				<key>frame</key>
				<string>{{333,154},{40,66}}</string>
				<key>offset</key>
				<string>{-13,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,48},{40,66}}</string>
				<key>sourceSize</key>
				<string>{40,66}</string>
			</dict>
			<key>effe_28_0038</key>
			<dict>
				<key>frame</key>
				<string>{{373,154},{41,67}}</string>
				<key>offset</key>
				<string>{-12,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,47},{41,67}}</string>
				<key>sourceSize</key>
				<string>{41,67}</string>
			</dict>
			<key>effe_28_0039</key>
			<dict>
				<key>frame</key>
				<string>{{414,154},{45,72}}</string>
				<key>offset</key>
				<string>{-9,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,42},{45,72}}</string>
				<key>sourceSize</key>
				<string>{45,72}</string>
			</dict>
			<key>effe_28_0040</key>
			<dict>
				<key>frame</key>
				<string>{{459,154},{47,76}}</string>
				<key>offset</key>
				<string>{-7,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,38},{47,76}}</string>
				<key>sourceSize</key>
				<string>{47,76}</string>
			</dict>
			<key>effe_28_0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{49,101}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,13},{49,101}}</string>
				<key>sourceSize</key>
				<string>{49,101}</string>
			</dict>
			<key>effe_28_0042</key>
			<dict>
				<key>frame</key>
				<string>{{49,230},{50,101}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,13},{50,101}}</string>
				<key>sourceSize</key>
				<string>{50,101}</string>
			</dict>
			<key>effe_28_0043</key>
			<dict>
				<key>frame</key>
				<string>{{99,230},{51,101}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,13},{51,101}}</string>
				<key>sourceSize</key>
				<string>{51,101}</string>
			</dict>
			<key>effe_28_0044</key>
			<dict>
				<key>frame</key>
				<string>{{150,230},{51,101}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,13},{51,101}}</string>
				<key>sourceSize</key>
				<string>{51,101}</string>
			</dict>
			<key>effe_28_0045</key>
			<dict>
				<key>frame</key>
				<string>{{201,230},{51,100}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,14},{51,100}}</string>
				<key>sourceSize</key>
				<string>{51,100}</string>
			</dict>
			<key>effe_28_0046</key>
			<dict>
				<key>frame</key>
				<string>{{252,230},{52,100}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,14},{52,100}}</string>
				<key>sourceSize</key>
				<string>{52,100}</string>
			</dict>
			<key>effe_28_0047</key>
			<dict>
				<key>frame</key>
				<string>{{304,230},{52,99}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,15},{52,99}}</string>
				<key>sourceSize</key>
				<string>{52,99}</string>
			</dict>
			<key>effe_28_0048</key>
			<dict>
				<key>frame</key>
				<string>{{356,230},{53,98}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,16},{53,98}}</string>
				<key>sourceSize</key>
				<string>{53,98}</string>
			</dict>
			<key>effe_28_0049</key>
			<dict>
				<key>frame</key>
				<string>{{409,230},{53,98}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,16},{53,98}}</string>
				<key>sourceSize</key>
				<string>{53,98}</string>
			</dict>
			<key>effe_28_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,331},{53,97}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,17},{53,97}}</string>
				<key>sourceSize</key>
				<string>{53,97}</string>
			</dict>
			<key>effe_28_0051</key>
			<dict>
				<key>frame</key>
				<string>{{53,331},{54,96}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,18},{54,96}}</string>
				<key>sourceSize</key>
				<string>{54,96}</string>
			</dict>
			<key>effe_28_0052</key>
			<dict>
				<key>frame</key>
				<string>{{107,331},{54,95}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,19},{54,95}}</string>
				<key>sourceSize</key>
				<string>{54,95}</string>
			</dict>
			<key>effe_28_0053</key>
			<dict>
				<key>frame</key>
				<string>{{161,331},{55,94}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,20},{55,94}}</string>
				<key>sourceSize</key>
				<string>{55,94}</string>
			</dict>
			<key>effe_28_0054</key>
			<dict>
				<key>frame</key>
				<string>{{216,331},{55,93}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,21},{55,93}}</string>
				<key>sourceSize</key>
				<string>{55,93}</string>
			</dict>
			<key>effe_28_0055</key>
			<dict>
				<key>frame</key>
				<string>{{271,331},{55,92}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,22},{55,92}}</string>
				<key>sourceSize</key>
				<string>{55,92}</string>
			</dict>
			<key>effe_28_0056</key>
			<dict>
				<key>frame</key>
				<string>{{326,331},{56,90}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,24},{56,90}}</string>
				<key>sourceSize</key>
				<string>{56,90}</string>
			</dict>
			<key>effe_28_0057</key>
			<dict>
				<key>frame</key>
				<string>{{382,331},{56,89}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,25},{56,89}}</string>
				<key>sourceSize</key>
				<string>{56,89}</string>
			</dict>
			<key>effe_28_0058</key>
			<dict>
				<key>frame</key>
				<string>{{438,331},{58,88}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,26},{58,88}}</string>
				<key>sourceSize</key>
				<string>{58,88}</string>
			</dict>
			<key>effe_28_0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,428},{60,87}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,27},{60,87}}</string>
				<key>sourceSize</key>
				<string>{60,87}</string>
			</dict>
			<key>effe_28_0060</key>
			<dict>
				<key>frame</key>
				<string>{{60,428},{61,85}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,29},{61,85}}</string>
				<key>sourceSize</key>
				<string>{61,85}</string>
			</dict>
			<key>effe_28_0061</key>
			<dict>
				<key>frame</key>
				<string>{{121,428},{62,84}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,30},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>
			<key>effe_28_0062</key>
			<dict>
				<key>frame</key>
				<string>{{183,428},{50,91}}</string>
				<key>offset</key>
				<string>{-17,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,23},{50,91}}</string>
				<key>sourceSize</key>
				<string>{50,91}</string>
			</dict>
			<key>effe_28_0063</key>
			<dict>
				<key>frame</key>
				<string>{{233,428},{50,91}}</string>
				<key>offset</key>
				<string>{-17,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,23},{50,91}}</string>
				<key>sourceSize</key>
				<string>{50,91}</string>
			</dict>
			<key>effe_28_0064</key>
			<dict>
				<key>frame</key>
				<string>{{283,428},{51,91}}</string>
				<key>offset</key>
				<string>{-16,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,23},{51,91}}</string>
				<key>sourceSize</key>
				<string>{51,91}</string>
			</dict>
			<key>effe_28_0065</key>
			<dict>
				<key>frame</key>
				<string>{{334,428},{51,90}}</string>
				<key>offset</key>
				<string>{-16,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,24},{51,90}}</string>
				<key>sourceSize</key>
				<string>{51,90}</string>
			</dict>
			<key>effe_28_0066</key>
			<dict>
				<key>frame</key>
				<string>{{385,428},{52,90}}</string>
				<key>offset</key>
				<string>{-15,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,24},{52,90}}</string>
				<key>sourceSize</key>
				<string>{52,90}</string>
			</dict>
			<key>effe_28_0067</key>
			<dict>
				<key>frame</key>
				<string>{{437,428},{53,89}}</string>
				<key>offset</key>
				<string>{-14,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,25},{53,89}}</string>
				<key>sourceSize</key>
				<string>{53,89}</string>
			</dict>
			<key>effe_28_0068</key>
			<dict>
				<key>frame</key>
				<string>{{0,519},{54,88}}</string>
				<key>offset</key>
				<string>{-13,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,26},{54,88}}</string>
				<key>sourceSize</key>
				<string>{54,88}</string>
			</dict>
			<key>effe_28_0069</key>
			<dict>
				<key>frame</key>
				<string>{{54,519},{54,88}}</string>
				<key>offset</key>
				<string>{-13,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,26},{54,88}}</string>
				<key>sourceSize</key>
				<string>{54,88}</string>
			</dict>
			<key>effe_28_0070</key>
			<dict>
				<key>frame</key>
				<string>{{108,519},{55,87}}</string>
				<key>offset</key>
				<string>{-12,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,27},{55,87}}</string>
				<key>sourceSize</key>
				<string>{55,87}</string>
			</dict>
			<key>effe_28_0071</key>
			<dict>
				<key>frame</key>
				<string>{{163,519},{56,86}}</string>
				<key>offset</key>
				<string>{-11,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,28},{56,86}}</string>
				<key>sourceSize</key>
				<string>{56,86}</string>
			</dict>
			<key>effe_28_0072</key>
			<dict>
				<key>frame</key>
				<string>{{219,519},{57,85}}</string>
				<key>offset</key>
				<string>{-10,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,29},{57,85}}</string>
				<key>sourceSize</key>
				<string>{57,85}</string>
			</dict>
			<key>effe_28_0073</key>
			<dict>
				<key>frame</key>
				<string>{{276,519},{58,84}}</string>
				<key>offset</key>
				<string>{-9,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,30},{58,84}}</string>
				<key>sourceSize</key>
				<string>{58,84}</string>
			</dict>
			<key>effe_28_0074</key>
			<dict>
				<key>frame</key>
				<string>{{334,519},{58,82}}</string>
				<key>offset</key>
				<string>{-9,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,32},{58,82}}</string>
				<key>sourceSize</key>
				<string>{58,82}</string>
			</dict>
			<key>effe_28_0075</key>
			<dict>
				<key>frame</key>
				<string>{{392,519},{59,81}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,33},{59,81}}</string>
				<key>sourceSize</key>
				<string>{59,81}</string>
			</dict>
			<key>effe_28_0076</key>
			<dict>
				<key>frame</key>
				<string>{{451,519},{60,80}}</string>
				<key>offset</key>
				<string>{-7,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,34},{60,80}}</string>
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>effe_28_0077</key>
			<dict>
				<key>frame</key>
				<string>{{0,607},{61,78}}</string>
				<key>offset</key>
				<string>{-6,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,36},{61,78}}</string>
				<key>sourceSize</key>
				<string>{61,78}</string>
			</dict>
			<key>effe_28_0078</key>
			<dict>
				<key>frame</key>
				<string>{{61,607},{61,81}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,33},{61,81}}</string>
				<key>sourceSize</key>
				<string>{61,81}</string>
			</dict>
			<key>effe_28_0079</key>
			<dict>
				<key>frame</key>
				<string>{{122,607},{62,83}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,31},{62,83}}</string>
				<key>sourceSize</key>
				<string>{62,83}</string>
			</dict>
			<key>effe_28_0080</key>
			<dict>
				<key>frame</key>
				<string>{{184,607},{63,83}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,31},{63,83}}</string>
				<key>sourceSize</key>
				<string>{63,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_28.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>effe_28.png</string>
		</dict>
	</dict>
</plist>
