<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_16_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{-46,-120}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0001</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0002</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0003</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0004</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0005</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0006</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0007</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0008</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0009</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0010</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0011</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0012</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0013</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0014</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0015</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0016</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0017</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0018</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0019</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0020</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0021</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0022</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0023</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0024</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{0,0}}</string>
				<key>offset</key>
				<string>{229,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_16_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0033</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0035</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0036</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0039</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0042</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0043</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0047</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0049</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0051</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0052</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0053</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0054</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0055</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0056</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0057</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0058</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0060</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0061</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0062</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
			<key>effe_16_0063</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,50}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{86,50}}</string>
				<key>sourceSize</key>
				<string>{86,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_16.png</string>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>effe_16.png</string>
		</dict>
	</dict>
</plist>
