<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_19_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{-128,-190}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0003</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0004</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0007</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0008</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0011</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0012</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0015</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0016</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0019</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0020</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0022</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0023</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0024</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0027</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0028</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_19_0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_19.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>effe_19.png</string>
		</dict>
	</dict>
</plist>
