<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_24_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{16,16}}</string>
				<key>offset</key>
				<string>{-25,-97}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,97},{16,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>effe_24_0001</key>
			<dict>
				<key>frame</key>
				<string>{{16,0},{44,57}}</string>
				<key>offset</key>
				<string>{-3,-42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,56},{44,57}}</string>
				<key>sourceSize</key>
				<string>{44,57}</string>
			</dict>
			<key>effe_24_0002</key>
			<dict>
				<key>frame</key>
				<string>{{60,0},{43,58}}</string>
				<key>offset</key>
				<string>{-3,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,55},{43,58}}</string>
				<key>sourceSize</key>
				<string>{43,58}</string>
			</dict>
			<key>effe_24_0003</key>
			<dict>
				<key>frame</key>
				<string>{{103,0},{43,59}}</string>
				<key>offset</key>
				<string>{-3,-39}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,54},{43,59}}</string>
				<key>sourceSize</key>
				<string>{43,59}</string>
			</dict>
			<key>effe_24_0004</key>
			<dict>
				<key>frame</key>
				<string>{{146,0},{42,60}}</string>
				<key>offset</key>
				<string>{-4,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,53},{42,60}}</string>
				<key>sourceSize</key>
				<string>{42,60}</string>
			</dict>
			<key>effe_24_0005</key>
			<dict>
				<key>frame</key>
				<string>{{188,0},{42,61}}</string>
				<key>offset</key>
				<string>{-4,-36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,52},{42,61}}</string>
				<key>sourceSize</key>
				<string>{42,61}</string>
			</dict>
			<key>effe_24_0006</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{42,62}}</string>
				<key>offset</key>
				<string>{-4,-35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,51},{42,62}}</string>
				<key>sourceSize</key>
				<string>{42,62}</string>
			</dict>
			<key>effe_24_0007</key>
			<dict>
				<key>frame</key>
				<string>{{272,0},{41,62}}</string>
				<key>offset</key>
				<string>{-4,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,51},{41,62}}</string>
				<key>sourceSize</key>
				<string>{41,62}</string>
			</dict>
			<key>effe_24_0008</key>
			<dict>
				<key>frame</key>
				<string>{{313,0},{40,62}}</string>
				<key>offset</key>
				<string>{-4,-33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,51},{40,62}}</string>
				<key>sourceSize</key>
				<string>{40,62}</string>
			</dict>
			<key>effe_24_0009</key>
			<dict>
				<key>frame</key>
				<string>{{353,0},{39,63}}</string>
				<key>offset</key>
				<string>{-4,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,50},{39,63}}</string>
				<key>sourceSize</key>
				<string>{39,63}</string>
			</dict>
			<key>effe_24_0010</key>
			<dict>
				<key>frame</key>
				<string>{{392,0},{38,64}}</string>
				<key>offset</key>
				<string>{-4,-30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,49},{38,64}}</string>
				<key>sourceSize</key>
				<string>{38,64}</string>
			</dict>
			<key>effe_24_0011</key>
			<dict>
				<key>frame</key>
				<string>{{430,0},{38,64}}</string>
				<key>offset</key>
				<string>{-4,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,49},{38,64}}</string>
				<key>sourceSize</key>
				<string>{38,64}</string>
			</dict>
			<key>effe_24_0012</key>
			<dict>
				<key>frame</key>
				<string>{{468,0},{37,65}}</string>
				<key>offset</key>
				<string>{-4,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,48},{37,65}}</string>
				<key>sourceSize</key>
				<string>{37,65}</string>
			</dict>
			<key>effe_24_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{36,65}}</string>
				<key>offset</key>
				<string>{-4,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,48},{36,65}}</string>
				<key>sourceSize</key>
				<string>{36,65}</string>
			</dict>
			<key>effe_24_0014</key>
			<dict>
				<key>frame</key>
				<string>{{36,65},{36,65}}</string>
				<key>offset</key>
				<string>{-4,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,48},{36,65}}</string>
				<key>sourceSize</key>
				<string>{36,65}</string>
			</dict>
			<key>effe_24_0015</key>
			<dict>
				<key>frame</key>
				<string>{{72,65},{37,65}}</string>
				<key>offset</key>
				<string>{-4,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,48},{37,65}}</string>
				<key>sourceSize</key>
				<string>{37,65}</string>
			</dict>
			<key>effe_24_0016</key>
			<dict>
				<key>frame</key>
				<string>{{109,65},{38,65}}</string>
				<key>offset</key>
				<string>{-4,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,48},{38,65}}</string>
				<key>sourceSize</key>
				<string>{38,65}</string>
			</dict>
			<key>effe_24_0017</key>
			<dict>
				<key>frame</key>
				<string>{{147,65},{37,65}}</string>
				<key>offset</key>
				<string>{-5,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,48},{37,65}}</string>
				<key>sourceSize</key>
				<string>{37,65}</string>
			</dict>
			<key>effe_24_0018</key>
			<dict>
				<key>frame</key>
				<string>{{184,65},{40,69}}</string>
				<key>offset</key>
				<string>{-3,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,44},{40,69}}</string>
				<key>sourceSize</key>
				<string>{40,69}</string>
			</dict>
			<key>effe_24_0019</key>
			<dict>
				<key>frame</key>
				<string>{{224,65},{42,71}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,42},{42,71}}</string>
				<key>sourceSize</key>
				<string>{42,71}</string>
			</dict>
			<key>effe_24_0020</key>
			<dict>
				<key>frame</key>
				<string>{{266,65},{43,89}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,24},{43,89}}</string>
				<key>sourceSize</key>
				<string>{43,89}</string>
			</dict>
			<key>effe_24_0021</key>
			<dict>
				<key>frame</key>
				<string>{{309,65},{44,88}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,25},{44,88}}</string>
				<key>sourceSize</key>
				<string>{44,88}</string>
			</dict>
			<key>effe_24_0022</key>
			<dict>
				<key>frame</key>
				<string>{{353,65},{22,58}}</string>
				<key>offset</key>
				<string>{-23,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,55},{22,58}}</string>
				<key>sourceSize</key>
				<string>{22,58}</string>
			</dict>
			<key>effe_24_0023</key>
			<dict>
				<key>frame</key>
				<string>{{375,65},{23,59}}</string>
				<key>offset</key>
				<string>{-22,-39}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,54},{23,59}}</string>
				<key>sourceSize</key>
				<string>{23,59}</string>
			</dict>
			<key>effe_24_0024</key>
			<dict>
				<key>frame</key>
				<string>{{398,65},{24,60}}</string>
				<key>offset</key>
				<string>{-22,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,53},{24,60}}</string>
				<key>sourceSize</key>
				<string>{24,60}</string>
			</dict>
			<key>effe_24_0025</key>
			<dict>
				<key>frame</key>
				<string>{{422,65},{25,60}}</string>
				<key>offset</key>
				<string>{-21,-36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,53},{25,60}}</string>
				<key>sourceSize</key>
				<string>{25,60}</string>
			</dict>
			<key>effe_24_0026</key>
			<dict>
				<key>frame</key>
				<string>{{447,65},{27,62}}</string>
				<key>offset</key>
				<string>{-20,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,51},{27,62}}</string>
				<key>sourceSize</key>
				<string>{27,62}</string>
			</dict>
			<key>effe_24_0027</key>
			<dict>
				<key>frame</key>
				<string>{{474,65},{27,62}}</string>
				<key>offset</key>
				<string>{-20,-33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,51},{27,62}}</string>
				<key>sourceSize</key>
				<string>{27,62}</string>
			</dict>
			<key>effe_24_0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{29,63}}</string>
				<key>offset</key>
				<string>{-19,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,50},{29,63}}</string>
				<key>sourceSize</key>
				<string>{29,63}</string>
			</dict>
			<key>effe_24_0029</key>
			<dict>
				<key>frame</key>
				<string>{{29,154},{30,64}}</string>
				<key>offset</key>
				<string>{-18,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,49},{30,64}}</string>
				<key>sourceSize</key>
				<string>{30,64}</string>
			</dict>
			<key>effe_24_0030</key>
			<dict>
				<key>frame</key>
				<string>{{59,154},{31,64}}</string>
				<key>offset</key>
				<string>{-18,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,49},{31,64}}</string>
				<key>sourceSize</key>
				<string>{31,64}</string>
			</dict>
			<key>effe_24_0031</key>
			<dict>
				<key>frame</key>
				<string>{{90,154},{33,65}}</string>
				<key>offset</key>
				<string>{-17,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,48},{33,65}}</string>
				<key>sourceSize</key>
				<string>{33,65}</string>
			</dict>
			<key>effe_24_0032</key>
			<dict>
				<key>frame</key>
				<string>{{123,154},{34,65}}</string>
				<key>offset</key>
				<string>{-16,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,48},{34,65}}</string>
				<key>sourceSize</key>
				<string>{34,65}</string>
			</dict>
			<key>effe_24_0033</key>
			<dict>
				<key>frame</key>
				<string>{{157,154},{35,66}}</string>
				<key>offset</key>
				<string>{-16,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,47},{35,66}}</string>
				<key>sourceSize</key>
				<string>{35,66}</string>
			</dict>
			<key>effe_24_0034</key>
			<dict>
				<key>frame</key>
				<string>{{192,154},{36,65}}</string>
				<key>offset</key>
				<string>{-15,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,48},{36,65}}</string>
				<key>sourceSize</key>
				<string>{36,65}</string>
			</dict>
			<key>effe_24_0035</key>
			<dict>
				<key>frame</key>
				<string>{{228,154},{38,66}}</string>
				<key>offset</key>
				<string>{-14,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,47},{38,66}}</string>
				<key>sourceSize</key>
				<string>{38,66}</string>
			</dict>
			<key>effe_24_0036</key>
			<dict>
				<key>frame</key>
				<string>{{266,154},{38,66}}</string>
				<key>offset</key>
				<string>{-14,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,47},{38,66}}</string>
				<key>sourceSize</key>
				<string>{38,66}</string>
			</dict>
			<key>effe_24_0037</key>
			<dict>
				<key>frame</key>
				<string>{{304,154},{40,66}}</string>
				<key>offset</key>
				<string>{-13,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,47},{40,66}}</string>
				<key>sourceSize</key>
				<string>{40,66}</string>
			</dict>
			<key>effe_24_0038</key>
			<dict>
				<key>frame</key>
				<string>{{344,154},{41,67}}</string>
				<key>offset</key>
				<string>{-12,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,46},{41,67}}</string>
				<key>sourceSize</key>
				<string>{41,67}</string>
			</dict>
			<key>effe_24_0039</key>
			<dict>
				<key>frame</key>
				<string>{{385,154},{45,73}}</string>
				<key>offset</key>
				<string>{-9,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,40},{45,73}}</string>
				<key>sourceSize</key>
				<string>{45,73}</string>
			</dict>
			<key>effe_24_0040</key>
			<dict>
				<key>frame</key>
				<string>{{430,154},{47,75}}</string>
				<key>offset</key>
				<string>{-7,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,38},{47,75}}</string>
				<key>sourceSize</key>
				<string>{47,75}</string>
			</dict>
			<key>effe_24_0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{49,100}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,13},{49,100}}</string>
				<key>sourceSize</key>
				<string>{49,100}</string>
			</dict>
			<key>effe_24_0042</key>
			<dict>
				<key>frame</key>
				<string>{{49,229},{50,101}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,12},{50,101}}</string>
				<key>sourceSize</key>
				<string>{50,101}</string>
			</dict>
			<key>effe_24_0043</key>
			<dict>
				<key>frame</key>
				<string>{{99,229},{51,101}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,12},{51,101}}</string>
				<key>sourceSize</key>
				<string>{51,101}</string>
			</dict>
			<key>effe_24_0044</key>
			<dict>
				<key>frame</key>
				<string>{{150,229},{51,100}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,13},{51,100}}</string>
				<key>sourceSize</key>
				<string>{51,100}</string>
			</dict>
			<key>effe_24_0045</key>
			<dict>
				<key>frame</key>
				<string>{{201,229},{51,100}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,13},{51,100}}</string>
				<key>sourceSize</key>
				<string>{51,100}</string>
			</dict>
			<key>effe_24_0046</key>
			<dict>
				<key>frame</key>
				<string>{{252,229},{52,99}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,14},{52,99}}</string>
				<key>sourceSize</key>
				<string>{52,99}</string>
			</dict>
			<key>effe_24_0047</key>
			<dict>
				<key>frame</key>
				<string>{{304,229},{52,99}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,14},{52,99}}</string>
				<key>sourceSize</key>
				<string>{52,99}</string>
			</dict>
			<key>effe_24_0048</key>
			<dict>
				<key>frame</key>
				<string>{{356,229},{52,98}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,15},{52,98}}</string>
				<key>sourceSize</key>
				<string>{52,98}</string>
			</dict>
			<key>effe_24_0049</key>
			<dict>
				<key>frame</key>
				<string>{{408,229},{53,97}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,16},{53,97}}</string>
				<key>sourceSize</key>
				<string>{53,97}</string>
			</dict>
			<key>effe_24_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,330},{53,96}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,17},{53,96}}</string>
				<key>sourceSize</key>
				<string>{53,96}</string>
			</dict>
			<key>effe_24_0051</key>
			<dict>
				<key>frame</key>
				<string>{{53,330},{54,95}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,18},{54,95}}</string>
				<key>sourceSize</key>
				<string>{54,95}</string>
			</dict>
			<key>effe_24_0052</key>
			<dict>
				<key>frame</key>
				<string>{{107,330},{54,95}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,18},{54,95}}</string>
				<key>sourceSize</key>
				<string>{54,95}</string>
			</dict>
			<key>effe_24_0053</key>
			<dict>
				<key>frame</key>
				<string>{{161,330},{54,93}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,20},{54,93}}</string>
				<key>sourceSize</key>
				<string>{54,93}</string>
			</dict>
			<key>effe_24_0054</key>
			<dict>
				<key>frame</key>
				<string>{{215,330},{55,92}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,21},{55,92}}</string>
				<key>sourceSize</key>
				<string>{55,92}</string>
			</dict>
			<key>effe_24_0055</key>
			<dict>
				<key>frame</key>
				<string>{{270,330},{55,91}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,22},{55,91}}</string>
				<key>sourceSize</key>
				<string>{55,91}</string>
			</dict>
			<key>effe_24_0056</key>
			<dict>
				<key>frame</key>
				<string>{{325,330},{56,90}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,23},{56,90}}</string>
				<key>sourceSize</key>
				<string>{56,90}</string>
			</dict>
			<key>effe_24_0057</key>
			<dict>
				<key>frame</key>
				<string>{{381,330},{56,88}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,25},{56,88}}</string>
				<key>sourceSize</key>
				<string>{56,88}</string>
			</dict>
			<key>effe_24_0058</key>
			<dict>
				<key>frame</key>
				<string>{{437,330},{58,87}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,26},{58,87}}</string>
				<key>sourceSize</key>
				<string>{58,87}</string>
			</dict>
			<key>effe_24_0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{60,86}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,27},{60,86}}</string>
				<key>sourceSize</key>
				<string>{60,86}</string>
			</dict>
			<key>effe_24_0060</key>
			<dict>
				<key>frame</key>
				<string>{{60,426},{61,85}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,28},{61,85}}</string>
				<key>sourceSize</key>
				<string>{61,85}</string>
			</dict>
			<key>effe_24_0061</key>
			<dict>
				<key>frame</key>
				<string>{{121,426},{61,83}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,30},{61,83}}</string>
				<key>sourceSize</key>
				<string>{61,83}</string>
			</dict>
			<key>effe_24_0062</key>
			<dict>
				<key>frame</key>
				<string>{{182,426},{49,92}}</string>
				<key>offset</key>
				<string>{-17,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,21},{49,92}}</string>
				<key>sourceSize</key>
				<string>{49,92}</string>
			</dict>
			<key>effe_24_0063</key>
			<dict>
				<key>frame</key>
				<string>{{231,426},{49,91}}</string>
				<key>offset</key>
				<string>{-17,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,22},{49,91}}</string>
				<key>sourceSize</key>
				<string>{49,91}</string>
			</dict>
			<key>effe_24_0064</key>
			<dict>
				<key>frame</key>
				<string>{{280,426},{50,91}}</string>
				<key>offset</key>
				<string>{-16,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,22},{50,91}}</string>
				<key>sourceSize</key>
				<string>{50,91}</string>
			</dict>
			<key>effe_24_0065</key>
			<dict>
				<key>frame</key>
				<string>{{330,426},{50,91}}</string>
				<key>offset</key>
				<string>{-16,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,22},{50,91}}</string>
				<key>sourceSize</key>
				<string>{50,91}</string>
			</dict>
			<key>effe_24_0066</key>
			<dict>
				<key>frame</key>
				<string>{{380,426},{51,90}}</string>
				<key>offset</key>
				<string>{-15,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,23},{51,90}}</string>
				<key>sourceSize</key>
				<string>{51,90}</string>
			</dict>
			<key>effe_24_0067</key>
			<dict>
				<key>frame</key>
				<string>{{431,426},{52,89}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,24},{52,89}}</string>
				<key>sourceSize</key>
				<string>{52,89}</string>
			</dict>
			<key>effe_24_0068</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{53,89}}</string>
				<key>offset</key>
				<string>{-13,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,24},{53,89}}</string>
				<key>sourceSize</key>
				<string>{53,89}</string>
			</dict>
			<key>effe_24_0069</key>
			<dict>
				<key>frame</key>
				<string>{{53,518},{54,88}}</string>
				<key>offset</key>
				<string>{-12,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,25},{54,88}}</string>
				<key>sourceSize</key>
				<string>{54,88}</string>
			</dict>
			<key>effe_24_0070</key>
			<dict>
				<key>frame</key>
				<string>{{107,518},{54,87}}</string>
				<key>offset</key>
				<string>{-12,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,26},{54,87}}</string>
				<key>sourceSize</key>
				<string>{54,87}</string>
			</dict>
			<key>effe_24_0071</key>
			<dict>
				<key>frame</key>
				<string>{{161,518},{55,86}}</string>
				<key>offset</key>
				<string>{-11,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,27},{55,86}}</string>
				<key>sourceSize</key>
				<string>{55,86}</string>
			</dict>
			<key>effe_24_0072</key>
			<dict>
				<key>frame</key>
				<string>{{216,518},{56,85}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,28},{56,85}}</string>
				<key>sourceSize</key>
				<string>{56,85}</string>
			</dict>
			<key>effe_24_0073</key>
			<dict>
				<key>frame</key>
				<string>{{272,518},{57,84}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,29},{57,84}}</string>
				<key>sourceSize</key>
				<string>{57,84}</string>
			</dict>
			<key>effe_24_0074</key>
			<dict>
				<key>frame</key>
				<string>{{329,518},{57,83}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,30},{57,83}}</string>
				<key>sourceSize</key>
				<string>{57,83}</string>
			</dict>
			<key>effe_24_0075</key>
			<dict>
				<key>frame</key>
				<string>{{386,518},{58,82}}</string>
				<key>offset</key>
				<string>{-8,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,31},{58,82}}</string>
				<key>sourceSize</key>
				<string>{58,82}</string>
			</dict>
			<key>effe_24_0076</key>
			<dict>
				<key>frame</key>
				<string>{{444,518},{59,80}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,33},{59,80}}</string>
				<key>sourceSize</key>
				<string>{59,80}</string>
			</dict>
			<key>effe_24_0077</key>
			<dict>
				<key>frame</key>
				<string>{{0,607},{60,79}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,34},{60,79}}</string>
				<key>sourceSize</key>
				<string>{60,79}</string>
			</dict>
			<key>effe_24_0078</key>
			<dict>
				<key>frame</key>
				<string>{{60,607},{60,81}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,32},{60,81}}</string>
				<key>sourceSize</key>
				<string>{60,81}</string>
			</dict>
			<key>effe_24_0079</key>
			<dict>
				<key>frame</key>
				<string>{{120,607},{61,82}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,31},{61,82}}</string>
				<key>sourceSize</key>
				<string>{61,82}</string>
			</dict>
			<key>effe_24_0080</key>
			<dict>
				<key>frame</key>
				<string>{{181,607},{62,82}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,31},{62,82}}</string>
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_24.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>effe_24.png</string>
		</dict>
	</dict>
</plist>
