<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_1_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{201,201}}</string>
				<key>offset</key>
				<string>{-100,-173}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0001</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0002</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0003</key>
			<dict>
				<key>frame</key>
				<string>{{603,0},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0004</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0006</key>
			<dict>
				<key>frame</key>
				<string>{{201,201},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0007</key>
			<dict>
				<key>frame</key>
				<string>{{402,201},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0008</key>
			<dict>
				<key>frame</key>
				<string>{{603,201},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0009</key>
			<dict>
				<key>frame</key>
				<string>{{804,201},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0011</key>
			<dict>
				<key>frame</key>
				<string>{{201,402},{201,201}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,173},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
			</dict>
			<key>effe_1_0012</key>
			<dict>
				<key>frame</key>
				<string>{{402,402},{201,203}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,171},{201,203}}</string>
				<key>sourceSize</key>
				<string>{201,203}</string>
			</dict>
			<key>effe_1_0013</key>
			<dict>
				<key>frame</key>
				<string>{{603,402},{96,90}}</string>
				<key>offset</key>
				<string>{-71,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,284},{96,90}}</string>
				<key>sourceSize</key>
				<string>{96,90}</string>
			</dict>
			<key>effe_1_0014</key>
			<dict>
				<key>frame</key>
				<string>{{699,402},{36,42}}</string>
				<key>offset</key>
				<string>{-131,-44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,332},{36,42}}</string>
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>effe_1_0015</key>
			<dict>
				<key>frame</key>
				<string>{{735,402},{36,42}}</string>
				<key>offset</key>
				<string>{-131,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,332},{36,42}}</string>
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_1.png</string>
		</dict>
	</dict>
</plist>
