<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_31_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,105}}</string>
				<key>offset</key>
				<string>{-130,-72}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,72},{190,105}}</string>
				<key>sourceSize</key>
				<string>{190,105}</string>
			</dict>
			<key>effe_31_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,105}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,72},{190,105}}</string>
				<key>sourceSize</key>
				<string>{190,105}</string>
			</dict>
			<key>effe_31_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,105}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,72},{190,105}}</string>
				<key>sourceSize</key>
				<string>{190,105}</string>
			</dict>
			<key>effe_31_0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,105}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,72},{190,105}}</string>
				<key>sourceSize</key>
				<string>{190,105}</string>
			</dict>
			<key>effe_31_0004</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0005</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0006</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0007</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0008</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0009</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0010</key>
			<dict>
				<key>frame</key>
				<string>{{710,0},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0011</key>
			<dict>
				<key>frame</key>
				<string>{{710,0},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0012</key>
			<dict>
				<key>frame</key>
				<string>{{710,0},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0016</key>
			<dict>
				<key>frame</key>
				<string>{{260,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0017</key>
			<dict>
				<key>frame</key>
				<string>{{260,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0018</key>
			<dict>
				<key>frame</key>
				<string>{{260,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0019</key>
			<dict>
				<key>frame</key>
				<string>{{520,144},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0020</key>
			<dict>
				<key>frame</key>
				<string>{{520,144},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0021</key>
			<dict>
				<key>frame</key>
				<string>{{520,144},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0022</key>
			<dict>
				<key>frame</key>
				<string>{{710,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0023</key>
			<dict>
				<key>frame</key>
				<string>{{710,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0024</key>
			<dict>
				<key>frame</key>
				<string>{{710,144},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0028</key>
			<dict>
				<key>frame</key>
				<string>{{260,288},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0029</key>
			<dict>
				<key>frame</key>
				<string>{{260,288},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0030</key>
			<dict>
				<key>frame</key>
				<string>{{260,288},{190,106}}</string>
				<key>offset</key>
				<string>{-35,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,71},{190,106}}</string>
				<key>sourceSize</key>
				<string>{190,106}</string>
			</dict>
			<key>effe_31_0031</key>
			<dict>
				<key>frame</key>
				<string>{{450,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0032</key>
			<dict>
				<key>frame</key>
				<string>{{450,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0033</key>
			<dict>
				<key>frame</key>
				<string>{{450,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0034</key>
			<dict>
				<key>frame</key>
				<string>{{710,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0035</key>
			<dict>
				<key>frame</key>
				<string>{{710,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
			<key>effe_31_0036</key>
			<dict>
				<key>frame</key>
				<string>{{710,288},{260,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,33},{260,144}}</string>
				<key>sourceSize</key>
				<string>{260,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_31.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_31.png</string>
		</dict>
	</dict>
</plist>
