<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_7_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{101,215}}</string>
				<key>offset</key>
				<string>{-92,-733}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,733},{101,215}}</string>
				<key>sourceSize</key>
				<string>{101,215}</string>
			</dict>
			<key>effe_7_0001</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{101,215}}</string>
				<key>offset</key>
				<string>{-72,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,733},{101,215}}</string>
				<key>sourceSize</key>
				<string>{101,215}</string>
			</dict>
			<key>effe_7_0002</key>
			<dict>
				<key>frame</key>
				<string>{{202,0},{101,216}}</string>
				<key>offset</key>
				<string>{-72,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,732},{101,216}}</string>
				<key>sourceSize</key>
				<string>{101,216}</string>
			</dict>
			<key>effe_7_0003</key>
			<dict>
				<key>frame</key>
				<string>{{202,0},{101,216}}</string>
				<key>offset</key>
				<string>{-72,-65}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,732},{101,216}}</string>
				<key>sourceSize</key>
				<string>{101,216}</string>
			</dict>
			<key>effe_7_0004</key>
			<dict>
				<key>frame</key>
				<string>{{303,0},{101,215}}</string>
				<key>offset</key>
				<string>{-72,-110}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,733},{101,215}}</string>
				<key>sourceSize</key>
				<string>{101,215}</string>
			</dict>
			<key>effe_7_0005</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{101,215}}</string>
				<key>offset</key>
				<string>{-72,-163}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,733},{101,215}}</string>
				<key>sourceSize</key>
				<string>{101,215}</string>
			</dict>
			<key>effe_7_0006</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{101,215}}</string>
				<key>offset</key>
				<string>{-72,-224}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,733},{101,215}}</string>
				<key>sourceSize</key>
				<string>{101,215}</string>
			</dict>
			<key>effe_7_0007</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{101,216}}</string>
				<key>offset</key>
				<string>{-72,-293}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,732},{101,216}}</string>
				<key>sourceSize</key>
				<string>{101,216}</string>
			</dict>
			<key>effe_7_0008</key>
			<dict>
				<key>frame</key>
				<string>{{707,0},{101,215}}</string>
				<key>offset</key>
				<string>{-72,-371}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,733},{101,215}}</string>
				<key>sourceSize</key>
				<string>{101,215}</string>
			</dict>
			<key>effe_7_0009</key>
			<dict>
				<key>frame</key>
				<string>{{808,0},{101,216}}</string>
				<key>offset</key>
				<string>{-72,-456}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,732},{101,216}}</string>
				<key>sourceSize</key>
				<string>{101,216}</string>
			</dict>
			<key>effe_7_0010</key>
			<dict>
				<key>frame</key>
				<string>{{909,0},{101,215}}</string>
				<key>offset</key>
				<string>{-72,-550}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,733},{101,215}}</string>
				<key>sourceSize</key>
				<string>{101,215}</string>
			</dict>
			<key>effe_7_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{91,96}}</string>
				<key>offset</key>
				<string>{-87,-664}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,852},{91,96}}</string>
				<key>sourceSize</key>
				<string>{91,96}</string>
			</dict>
			<key>effe_7_0012</key>
			<dict>
				<key>frame</key>
				<string>{{91,216},{138,145}}</string>
				<key>offset</key>
				<string>{-57,-623}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,803},{138,145}}</string>
				<key>sourceSize</key>
				<string>{138,145}</string>
			</dict>
			<key>effe_7_0013</key>
			<dict>
				<key>frame</key>
				<string>{{229,216},{158,183}}</string>
				<key>offset</key>
				<string>{-51,-583}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,765},{158,183}}</string>
				<key>sourceSize</key>
				<string>{158,183}</string>
			</dict>
			<key>effe_7_0014</key>
			<dict>
				<key>frame</key>
				<string>{{229,216},{158,183}}</string>
				<key>offset</key>
				<string>{-51,-583}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,765},{158,183}}</string>
				<key>sourceSize</key>
				<string>{158,183}</string>
			</dict>
			<key>effe_7_0015</key>
			<dict>
				<key>frame</key>
				<string>{{387,216},{236,240}}</string>
				<key>offset</key>
				<string>{0,-558}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,708},{236,240}}</string>
				<key>sourceSize</key>
				<string>{236,240}</string>
			</dict>
			<key>effe_7_0016</key>
			<dict>
				<key>frame</key>
				<string>{{387,216},{236,240}}</string>
				<key>offset</key>
				<string>{0,-558}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,708},{236,240}}</string>
				<key>sourceSize</key>
				<string>{236,240}</string>
			</dict>
			<key>effe_7_0017</key>
			<dict>
				<key>frame</key>
				<string>{{623,216},{200,200}}</string>
				<key>offset</key>
				<string>{-22,-573}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,748},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effe_7_0018</key>
			<dict>
				<key>frame</key>
				<string>{{623,216},{200,200}}</string>
				<key>offset</key>
				<string>{-22,-573}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,748},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effe_7_0019</key>
			<dict>
				<key>frame</key>
				<string>{{623,216},{200,200}}</string>
				<key>offset</key>
				<string>{-22,-573}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,748},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effe_7_0020</key>
			<dict>
				<key>frame</key>
				<string>{{823,216},{200,210}}</string>
				<key>offset</key>
				<string>{-22,-565}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,738},{200,210}}</string>
				<key>sourceSize</key>
				<string>{200,210}</string>
			</dict>
			<key>effe_7_0021</key>
			<dict>
				<key>frame</key>
				<string>{{823,216},{200,210}}</string>
				<key>offset</key>
				<string>{-22,-565}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,738},{200,210}}</string>
				<key>sourceSize</key>
				<string>{200,210}</string>
			</dict>
			<key>effe_7_0022</key>
			<dict>
				<key>frame</key>
				<string>{{823,216},{200,210}}</string>
				<key>offset</key>
				<string>{-22,-565}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,738},{200,210}}</string>
				<key>sourceSize</key>
				<string>{200,210}</string>
			</dict>
			<key>effe_7_0023</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{200,220}}</string>
				<key>offset</key>
				<string>{-22,-557}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,728},{200,220}}</string>
				<key>sourceSize</key>
				<string>{200,220}</string>
			</dict>
			<key>effe_7_0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{200,220}}</string>
				<key>offset</key>
				<string>{-22,-557}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,728},{200,220}}</string>
				<key>sourceSize</key>
				<string>{200,220}</string>
			</dict>
			<key>effe_7_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{200,220}}</string>
				<key>offset</key>
				<string>{-22,-557}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,728},{200,220}}</string>
				<key>sourceSize</key>
				<string>{200,220}</string>
			</dict>
			<key>effe_7_0026</key>
			<dict>
				<key>frame</key>
				<string>{{200,456},{200,230}}</string>
				<key>offset</key>
				<string>{-22,-549}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,718},{200,230}}</string>
				<key>sourceSize</key>
				<string>{200,230}</string>
			</dict>
			<key>effe_7_0027</key>
			<dict>
				<key>frame</key>
				<string>{{200,456},{200,230}}</string>
				<key>offset</key>
				<string>{-22,-549}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,718},{200,230}}</string>
				<key>sourceSize</key>
				<string>{200,230}</string>
			</dict>
			<key>effe_7_0028</key>
			<dict>
				<key>frame</key>
				<string>{{200,456},{200,230}}</string>
				<key>offset</key>
				<string>{-22,-549}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,718},{200,230}}</string>
				<key>sourceSize</key>
				<string>{200,230}</string>
			</dict>
			<key>effe_7_0029</key>
			<dict>
				<key>frame</key>
				<string>{{400,456},{200,240}}</string>
				<key>offset</key>
				<string>{-22,-541}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,708},{200,240}}</string>
				<key>sourceSize</key>
				<string>{200,240}</string>
			</dict>
			<key>effe_7_0030</key>
			<dict>
				<key>frame</key>
				<string>{{400,456},{200,240}}</string>
				<key>offset</key>
				<string>{-22,-541}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,708},{200,240}}</string>
				<key>sourceSize</key>
				<string>{200,240}</string>
			</dict>
			<key>effe_7_0031</key>
			<dict>
				<key>frame</key>
				<string>{{400,456},{200,240}}</string>
				<key>offset</key>
				<string>{-22,-541}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,708},{200,240}}</string>
				<key>sourceSize</key>
				<string>{200,240}</string>
			</dict>
			<key>effe_7_0032</key>
			<dict>
				<key>frame</key>
				<string>{{600,456},{200,250}}</string>
				<key>offset</key>
				<string>{-22,-533}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,698},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>effe_7_0033</key>
			<dict>
				<key>frame</key>
				<string>{{600,456},{200,250}}</string>
				<key>offset</key>
				<string>{-22,-533}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,698},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>effe_7_0034</key>
			<dict>
				<key>frame</key>
				<string>{{600,456},{200,250}}</string>
				<key>offset</key>
				<string>{-22,-533}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,698},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>effe_7_0035</key>
			<dict>
				<key>frame</key>
				<string>{{800,456},{200,260}}</string>
				<key>offset</key>
				<string>{-22,-525}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,688},{200,260}}</string>
				<key>sourceSize</key>
				<string>{200,260}</string>
			</dict>
			<key>effe_7_0036</key>
			<dict>
				<key>frame</key>
				<string>{{800,456},{200,260}}</string>
				<key>offset</key>
				<string>{-22,-525}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,688},{200,260}}</string>
				<key>sourceSize</key>
				<string>{200,260}</string>
			</dict>
			<key>effe_7_0037</key>
			<dict>
				<key>frame</key>
				<string>{{800,456},{200,260}}</string>
				<key>offset</key>
				<string>{-22,-525}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,688},{200,260}}</string>
				<key>sourceSize</key>
				<string>{200,260}</string>
			</dict>
			<key>effe_7_0038</key>
			<dict>
				<key>frame</key>
				<string>{{1000,456},{0,0}}</string>
				<key>offset</key>
				<string>{182,-413}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{236,948},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_7_0039</key>
			<dict>
				<key>frame</key>
				<string>{{1000,456},{0,0}}</string>
				<key>offset</key>
				<string>{182,-413}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{236,948},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_7.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_7.png</string>
		</dict>
	</dict>
</plist>
