<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_21_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{20,20}}</string>
				<key>offset</key>
				<string>{-70,-206}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,206},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>effe_21_0001</key>
			<dict>
				<key>frame</key>
				<string>{{20,0},{143,177}}</string>
				<key>offset</key>
				<string>{0,-48}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,49},{143,177}}</string>
				<key>sourceSize</key>
				<string>{143,177}</string>
			</dict>
			<key>effe_21_0002</key>
			<dict>
				<key>frame</key>
				<string>{{163,0},{143,188}}</string>
				<key>offset</key>
				<string>{0,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,38},{143,188}}</string>
				<key>sourceSize</key>
				<string>{143,188}</string>
			</dict>
			<key>effe_21_0003</key>
			<dict>
				<key>frame</key>
				<string>{{306,0},{143,199}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,27},{143,199}}</string>
				<key>sourceSize</key>
				<string>{143,199}</string>
			</dict>
			<key>effe_21_0004</key>
			<dict>
				<key>frame</key>
				<string>{{449,0},{143,210}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{143,210}}</string>
				<key>sourceSize</key>
				<string>{143,210}</string>
			</dict>
			<key>effe_21_0005</key>
			<dict>
				<key>frame</key>
				<string>{{592,0},{143,222}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{143,222}}</string>
				<key>sourceSize</key>
				<string>{143,222}</string>
			</dict>
			<key>effe_21_0006</key>
			<dict>
				<key>frame</key>
				<string>{{735,0},{143,177}}</string>
				<key>offset</key>
				<string>{0,-48}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,49},{143,177}}</string>
				<key>sourceSize</key>
				<string>{143,177}</string>
			</dict>
			<key>effe_21_0007</key>
			<dict>
				<key>frame</key>
				<string>{{878,0},{143,188}}</string>
				<key>offset</key>
				<string>{0,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,38},{143,188}}</string>
				<key>sourceSize</key>
				<string>{143,188}</string>
			</dict>
			<key>effe_21_0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{143,199}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,27},{143,199}}</string>
				<key>sourceSize</key>
				<string>{143,199}</string>
			</dict>
			<key>effe_21_0009</key>
			<dict>
				<key>frame</key>
				<string>{{143,222},{143,210}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{143,210}}</string>
				<key>sourceSize</key>
				<string>{143,210}</string>
			</dict>
			<key>effe_21_0010</key>
			<dict>
				<key>frame</key>
				<string>{{286,222},{143,222}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{143,222}}</string>
				<key>sourceSize</key>
				<string>{143,222}</string>
			</dict>
			<key>effe_21_0011</key>
			<dict>
				<key>frame</key>
				<string>{{429,222},{143,201}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,25},{143,201}}</string>
				<key>sourceSize</key>
				<string>{143,201}</string>
			</dict>
			<key>effe_21_0012</key>
			<dict>
				<key>frame</key>
				<string>{{572,222},{143,201}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,25},{143,201}}</string>
				<key>sourceSize</key>
				<string>{143,201}</string>
			</dict>
			<key>effe_21_0013</key>
			<dict>
				<key>frame</key>
				<string>{{715,222},{143,202}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,24},{143,202}}</string>
				<key>sourceSize</key>
				<string>{143,202}</string>
			</dict>
			<key>effe_21_0014</key>
			<dict>
				<key>frame</key>
				<string>{{858,222},{143,213}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{143,213}}</string>
				<key>sourceSize</key>
				<string>{143,213}</string>
			</dict>
			<key>effe_21_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{143,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{143,225}}</string>
				<key>sourceSize</key>
				<string>{143,225}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_21.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_21.png</string>
		</dict>
	</dict>
</plist>
