<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_2_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{151,151}}</string>
				<key>offset</key>
				<string>{-100,-224}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,224},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>effe_2_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{151,151}}</string>
				<key>offset</key>
				<string>{-25,-94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,224},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>effe_2_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{151,151}}</string>
				<key>offset</key>
				<string>{-25,-94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,224},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>effe_2_0003</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{151,151}}</string>
				<key>offset</key>
				<string>{-25,-94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,224},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>effe_2_0004</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{151,151}}</string>
				<key>offset</key>
				<string>{-25,-94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,224},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>effe_2_0005</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{151,151}}</string>
				<key>offset</key>
				<string>{-25,-94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,224},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>effe_2_0006</key>
			<dict>
				<key>frame</key>
				<string>{{453,0},{151,160}}</string>
				<key>offset</key>
				<string>{-25,-94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,215},{151,160}}</string>
				<key>sourceSize</key>
				<string>{151,160}</string>
			</dict>
			<key>effe_2_0007</key>
			<dict>
				<key>frame</key>
				<string>{{604,0},{151,160}}</string>
				<key>offset</key>
				<string>{-25,-94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,215},{151,160}}</string>
				<key>sourceSize</key>
				<string>{151,160}</string>
			</dict>
			<key>effe_2_0008</key>
			<dict>
				<key>frame</key>
				<string>{{755,0},{195,195}}</string>
				<key>offset</key>
				<string>{-2,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,180},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>
			<key>effe_2_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{199,255}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,120},{199,255}}</string>
				<key>sourceSize</key>
				<string>{199,255}</string>
			</dict>
			<key>effe_2_0010</key>
			<dict>
				<key>frame</key>
				<string>{{199,195},{195,276}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,99},{195,276}}</string>
				<key>sourceSize</key>
				<string>{195,276}</string>
			</dict>
			<key>effe_2_0011</key>
			<dict>
				<key>frame</key>
				<string>{{394,195},{195,295}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,80},{195,295}}</string>
				<key>sourceSize</key>
				<string>{195,295}</string>
			</dict>
			<key>effe_2_0012</key>
			<dict>
				<key>frame</key>
				<string>{{589,195},{195,315}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,60},{195,315}}</string>
				<key>sourceSize</key>
				<string>{195,315}</string>
			</dict>
			<key>effe_2_0013</key>
			<dict>
				<key>frame</key>
				<string>{{784,195},{195,273}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,102},{195,273}}</string>
				<key>sourceSize</key>
				<string>{195,273}</string>
			</dict>
			<key>effe_2_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{195,244}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,131},{195,244}}</string>
				<key>sourceSize</key>
				<string>{195,244}</string>
			</dict>
			<key>effe_2_0015</key>
			<dict>
				<key>frame</key>
				<string>{{195,510},{195,244}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,131},{195,244}}</string>
				<key>sourceSize</key>
				<string>{195,244}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_2.png</string>
		</dict>
	</dict>
</plist>
