<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_50_1_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{6,6}}</string>
				<key>offset</key>
				<string>{-89,-96}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,128},{6,6}}</string>
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>effe_50_1_0001</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0002</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0003</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0004</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0005</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0006</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0007</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0008</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0009</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0010</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0011</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0012</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0013</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0014</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0015</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0016</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0017</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0018</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0019</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0020</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0021</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0022</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0023</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0024</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{124,234}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,134},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_50_1_0025</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{154,118}}</string>
				<key>offset</key>
				<string>{-14,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,16},{154,118}}</string>
				<key>sourceSize</key>
				<string>{154,118}</string>
			</dict>
			<key>effe_50_1_0026</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{154,118}}</string>
				<key>offset</key>
				<string>{-14,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,16},{154,118}}</string>
				<key>sourceSize</key>
				<string>{154,118}</string>
			</dict>
			<key>effe_50_1_0027</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0028</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0029</key>
			<dict>
				<key>frame</key>
				<string>{{313,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0030</key>
			<dict>
				<key>frame</key>
				<string>{{313,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0031</key>
			<dict>
				<key>frame</key>
				<string>{{466,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0032</key>
			<dict>
				<key>frame</key>
				<string>{{466,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0033</key>
			<dict>
				<key>frame</key>
				<string>{{619,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0034</key>
			<dict>
				<key>frame</key>
				<string>{{619,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0035</key>
			<dict>
				<key>frame</key>
				<string>{{772,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0036</key>
			<dict>
				<key>frame</key>
				<string>{{772,0},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{153,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,16},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_50_1_0039</key>
			<dict>
				<key>frame</key>
				<string>{{153,118},{155,118}}</string>
				<key>offset</key>
				<string>{-14,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,16},{155,118}}</string>
				<key>sourceSize</key>
				<string>{155,118}</string>
			</dict>
			<key>effe_50_1_0040</key>
			<dict>
				<key>frame</key>
				<string>{{153,118},{155,118}}</string>
				<key>offset</key>
				<string>{-14,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,16},{155,118}}</string>
				<key>sourceSize</key>
				<string>{155,118}</string>
			</dict>
			<key>effe_50_1_0041</key>
			<dict>
				<key>frame</key>
				<string>{{308,118},{155,119}}</string>
				<key>offset</key>
				<string>{-14,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,15},{155,119}}</string>
				<key>sourceSize</key>
				<string>{155,119}</string>
			</dict>
			<key>effe_50_1_0042</key>
			<dict>
				<key>frame</key>
				<string>{{308,118},{155,119}}</string>
				<key>offset</key>
				<string>{-14,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,15},{155,119}}</string>
				<key>sourceSize</key>
				<string>{155,119}</string>
			</dict>
			<key>effe_50_1_0043</key>
			<dict>
				<key>frame</key>
				<string>{{463,118},{157,119}}</string>
				<key>offset</key>
				<string>{-13,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,15},{157,119}}</string>
				<key>sourceSize</key>
				<string>{157,119}</string>
			</dict>
			<key>effe_50_1_0044</key>
			<dict>
				<key>frame</key>
				<string>{{463,118},{157,119}}</string>
				<key>offset</key>
				<string>{-13,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,15},{157,119}}</string>
				<key>sourceSize</key>
				<string>{157,119}</string>
			</dict>
			<key>effe_50_1_0045</key>
			<dict>
				<key>frame</key>
				<string>{{620,118},{157,120}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,14},{157,120}}</string>
				<key>sourceSize</key>
				<string>{157,120}</string>
			</dict>
			<key>effe_50_1_0046</key>
			<dict>
				<key>frame</key>
				<string>{{620,118},{157,120}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,14},{157,120}}</string>
				<key>sourceSize</key>
				<string>{157,120}</string>
			</dict>
			<key>effe_50_1_0047</key>
			<dict>
				<key>frame</key>
				<string>{{777,118},{159,120}}</string>
				<key>offset</key>
				<string>{-12,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,14},{159,120}}</string>
				<key>sourceSize</key>
				<string>{159,120}</string>
			</dict>
			<key>effe_50_1_0048</key>
			<dict>
				<key>frame</key>
				<string>{{777,118},{159,120}}</string>
				<key>offset</key>
				<string>{-12,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,14},{159,120}}</string>
				<key>sourceSize</key>
				<string>{159,120}</string>
			</dict>
			<key>effe_50_1_0049</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{159,127}}</string>
				<key>offset</key>
				<string>{-12,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,7},{159,127}}</string>
				<key>sourceSize</key>
				<string>{159,127}</string>
			</dict>
			<key>effe_50_1_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{159,127}}</string>
				<key>offset</key>
				<string>{-12,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,7},{159,127}}</string>
				<key>sourceSize</key>
				<string>{159,127}</string>
			</dict>
			<key>effe_50_1_0051</key>
			<dict>
				<key>frame</key>
				<string>{{159,238},{160,122}}</string>
				<key>offset</key>
				<string>{-11,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,12},{160,122}}</string>
				<key>sourceSize</key>
				<string>{160,122}</string>
			</dict>
			<key>effe_50_1_0052</key>
			<dict>
				<key>frame</key>
				<string>{{159,238},{160,122}}</string>
				<key>offset</key>
				<string>{-11,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,12},{160,122}}</string>
				<key>sourceSize</key>
				<string>{160,122}</string>
			</dict>
			<key>effe_50_1_0053</key>
			<dict>
				<key>frame</key>
				<string>{{319,238},{161,123}}</string>
				<key>offset</key>
				<string>{-11,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,11},{161,123}}</string>
				<key>sourceSize</key>
				<string>{161,123}</string>
			</dict>
			<key>effe_50_1_0054</key>
			<dict>
				<key>frame</key>
				<string>{{319,238},{161,123}}</string>
				<key>offset</key>
				<string>{-11,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,11},{161,123}}</string>
				<key>sourceSize</key>
				<string>{161,123}</string>
			</dict>
			<key>effe_50_1_0055</key>
			<dict>
				<key>frame</key>
				<string>{{480,238},{162,123}}</string>
				<key>offset</key>
				<string>{-10,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,11},{162,123}}</string>
				<key>sourceSize</key>
				<string>{162,123}</string>
			</dict>
			<key>effe_50_1_0056</key>
			<dict>
				<key>frame</key>
				<string>{{480,238},{162,123}}</string>
				<key>offset</key>
				<string>{-10,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,11},{162,123}}</string>
				<key>sourceSize</key>
				<string>{162,123}</string>
			</dict>
			<key>effe_50_1_0057</key>
			<dict>
				<key>frame</key>
				<string>{{642,238},{163,124}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,10},{163,124}}</string>
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>effe_50_1_0058</key>
			<dict>
				<key>frame</key>
				<string>{{642,238},{163,124}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,10},{163,124}}</string>
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>effe_50_1_0059</key>
			<dict>
				<key>frame</key>
				<string>{{805,238},{164,125}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,9},{164,125}}</string>
				<key>sourceSize</key>
				<string>{164,125}</string>
			</dict>
			<key>effe_50_1_0060</key>
			<dict>
				<key>frame</key>
				<string>{{805,238},{164,125}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,9},{164,125}}</string>
				<key>sourceSize</key>
				<string>{164,125}</string>
			</dict>
			<key>effe_50_1_0061</key>
			<dict>
				<key>frame</key>
				<string>{{0,365},{165,125}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,9},{165,125}}</string>
				<key>sourceSize</key>
				<string>{165,125}</string>
			</dict>
			<key>effe_50_1_0062</key>
			<dict>
				<key>frame</key>
				<string>{{0,365},{165,125}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,9},{165,125}}</string>
				<key>sourceSize</key>
				<string>{165,125}</string>
			</dict>
			<key>effe_50_1_0063</key>
			<dict>
				<key>frame</key>
				<string>{{165,365},{167,124}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,10},{167,124}}</string>
				<key>sourceSize</key>
				<string>{167,124}</string>
			</dict>
			<key>effe_50_1_0064</key>
			<dict>
				<key>frame</key>
				<string>{{165,365},{167,124}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,10},{167,124}}</string>
				<key>sourceSize</key>
				<string>{167,124}</string>
			</dict>
			<key>effe_50_1_0065</key>
			<dict>
				<key>frame</key>
				<string>{{332,365},{169,123}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,11},{169,123}}</string>
				<key>sourceSize</key>
				<string>{169,123}</string>
			</dict>
			<key>effe_50_1_0066</key>
			<dict>
				<key>frame</key>
				<string>{{332,365},{169,123}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,11},{169,123}}</string>
				<key>sourceSize</key>
				<string>{169,123}</string>
			</dict>
			<key>effe_50_1_0067</key>
			<dict>
				<key>frame</key>
				<string>{{501,365},{171,124}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{171,124}}</string>
				<key>sourceSize</key>
				<string>{171,124}</string>
			</dict>
			<key>effe_50_1_0068</key>
			<dict>
				<key>frame</key>
				<string>{{501,365},{171,124}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{171,124}}</string>
				<key>sourceSize</key>
				<string>{171,124}</string>
			</dict>
			<key>effe_50_1_0069</key>
			<dict>
				<key>frame</key>
				<string>{{672,365},{172,126}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,8},{172,126}}</string>
				<key>sourceSize</key>
				<string>{172,126}</string>
			</dict>
			<key>effe_50_1_0070</key>
			<dict>
				<key>frame</key>
				<string>{{672,365},{172,126}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,8},{172,126}}</string>
				<key>sourceSize</key>
				<string>{172,126}</string>
			</dict>
			<key>effe_50_1_0071</key>
			<dict>
				<key>frame</key>
				<string>{{844,365},{173,127}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,7},{173,127}}</string>
				<key>sourceSize</key>
				<string>{173,127}</string>
			</dict>
			<key>effe_50_1_0072</key>
			<dict>
				<key>frame</key>
				<string>{{844,365},{173,127}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,7},{173,127}}</string>
				<key>sourceSize</key>
				<string>{173,127}</string>
			</dict>
			<key>effe_50_1_0073</key>
			<dict>
				<key>frame</key>
				<string>{{0,492},{175,128}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{175,128}}</string>
				<key>sourceSize</key>
				<string>{175,128}</string>
			</dict>
			<key>effe_50_1_0074</key>
			<dict>
				<key>frame</key>
				<string>{{0,492},{175,128}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{175,128}}</string>
				<key>sourceSize</key>
				<string>{175,128}</string>
			</dict>
			<key>effe_50_1_0075</key>
			<dict>
				<key>frame</key>
				<string>{{175,492},{177,129}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,5},{177,129}}</string>
				<key>sourceSize</key>
				<string>{177,129}</string>
			</dict>
			<key>effe_50_1_0076</key>
			<dict>
				<key>frame</key>
				<string>{{175,492},{177,129}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,5},{177,129}}</string>
				<key>sourceSize</key>
				<string>{177,129}</string>
			</dict>
			<key>effe_50_1_0077</key>
			<dict>
				<key>frame</key>
				<string>{{352,492},{177,120}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,14},{177,120}}</string>
				<key>sourceSize</key>
				<string>{177,120}</string>
			</dict>
			<key>effe_50_1_0078</key>
			<dict>
				<key>frame</key>
				<string>{{352,492},{177,120}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,14},{177,120}}</string>
				<key>sourceSize</key>
				<string>{177,120}</string>
			</dict>
			<key>effe_50_1_0079</key>
			<dict>
				<key>frame</key>
				<string>{{529,492},{179,120}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,14},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>
			<key>effe_50_1_0080</key>
			<dict>
				<key>frame</key>
				<string>{{529,492},{179,120}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,14},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>
			<key>effe_50_1_0081</key>
			<dict>
				<key>frame</key>
				<string>{{708,492},{181,119}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,15},{181,119}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
			<key>effe_50_1_0082</key>
			<dict>
				<key>frame</key>
				<string>{{708,492},{181,119}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,15},{181,119}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
			<key>effe_50_1_0083</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{181,119}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,15},{181,119}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
			<key>effe_50_1_0084</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{181,119}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,15},{181,119}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
			<key>effe_50_1_0085</key>
			<dict>
				<key>frame</key>
				<string>{{181,621},{183,118}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{183,118}}</string>
				<key>sourceSize</key>
				<string>{183,118}</string>
			</dict>
			<key>effe_50_1_0086</key>
			<dict>
				<key>frame</key>
				<string>{{181,621},{183,118}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{183,118}}</string>
				<key>sourceSize</key>
				<string>{183,118}</string>
			</dict>
			<key>effe_50_1_0087</key>
			<dict>
				<key>frame</key>
				<string>{{364,621},{183,119}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{183,119}}</string>
				<key>sourceSize</key>
				<string>{183,119}</string>
			</dict>
			<key>effe_50_1_0088</key>
			<dict>
				<key>frame</key>
				<string>{{547,621},{183,119}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{183,119}}</string>
				<key>sourceSize</key>
				<string>{183,119}</string>
			</dict>
			<key>effe_50_1_0089</key>
			<dict>
				<key>frame</key>
				<string>{{730,621},{9,9}}</string>
				<key>offset</key>
				<string>{-112,-100}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{174,125},{9,9}}</string>
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_50_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_50_1.png</string>
		</dict>
	</dict>
</plist>
