<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_15_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{12,12}}</string>
				<key>offset</key>
				<string>{-67,-120}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,147},{12,12}}</string>
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>effe_15_0001</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0002</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0003</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0004</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0005</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0006</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0007</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0008</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0009</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0010</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0011</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0012</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0013</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0014</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0015</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0016</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0017</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0018</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0019</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0020</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0021</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0022</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0023</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0024</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0025</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{117,149}}</string>
				<key>offset</key>
				<string>{-3,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,10},{117,149}}</string>
				<key>sourceSize</key>
				<string>{117,149}</string>
			</dict>
			<key>effe_15_0026</key>
			<dict>
				<key>frame</key>
				<string>{{129,0},{117,147}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,12},{117,147}}</string>
				<key>sourceSize</key>
				<string>{117,147}</string>
			</dict>
			<key>effe_15_0027</key>
			<dict>
				<key>frame</key>
				<string>{{246,0},{131,144}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,15},{131,144}}</string>
				<key>sourceSize</key>
				<string>{131,144}</string>
			</dict>
			<key>effe_15_0028</key>
			<dict>
				<key>frame</key>
				<string>{{377,0},{131,149}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,10},{131,149}}</string>
				<key>sourceSize</key>
				<string>{131,149}</string>
			</dict>
			<key>effe_15_0029</key>
			<dict>
				<key>frame</key>
				<string>{{508,0},{131,146}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,13},{131,146}}</string>
				<key>sourceSize</key>
				<string>{131,146}</string>
			</dict>
			<key>effe_15_0030</key>
			<dict>
				<key>frame</key>
				<string>{{639,0},{131,142}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{131,142}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>effe_15_0031</key>
			<dict>
				<key>frame</key>
				<string>{{770,0},{131,139}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,20},{131,139}}</string>
				<key>sourceSize</key>
				<string>{131,139}</string>
			</dict>
			<key>effe_15_0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,149},{134,135}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,24},{134,135}}</string>
				<key>sourceSize</key>
				<string>{134,135}</string>
			</dict>
			<key>effe_15_0033</key>
			<dict>
				<key>frame</key>
				<string>{{134,149},{134,139}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,20},{134,139}}</string>
				<key>sourceSize</key>
				<string>{134,139}</string>
			</dict>
			<key>effe_15_0034</key>
			<dict>
				<key>frame</key>
				<string>{{268,149},{133,137}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,22},{133,137}}</string>
				<key>sourceSize</key>
				<string>{133,137}</string>
			</dict>
			<key>effe_15_0035</key>
			<dict>
				<key>frame</key>
				<string>{{401,149},{133,134}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,25},{133,134}}</string>
				<key>sourceSize</key>
				<string>{133,134}</string>
			</dict>
			<key>effe_15_0036</key>
			<dict>
				<key>frame</key>
				<string>{{534,149},{133,131}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,28},{133,131}}</string>
				<key>sourceSize</key>
				<string>{133,131}</string>
			</dict>
			<key>effe_15_0037</key>
			<dict>
				<key>frame</key>
				<string>{{667,149},{133,129}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,30},{133,129}}</string>
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>effe_15_0038</key>
			<dict>
				<key>frame</key>
				<string>{{800,149},{133,126}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,33},{133,126}}</string>
				<key>sourceSize</key>
				<string>{133,126}</string>
			</dict>
			<key>effe_15_0039</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{133,124}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,35},{133,124}}</string>
				<key>sourceSize</key>
				<string>{133,124}</string>
			</dict>
			<key>effe_15_0040</key>
			<dict>
				<key>frame</key>
				<string>{{133,288},{133,122}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,37},{133,122}}</string>
				<key>sourceSize</key>
				<string>{133,122}</string>
			</dict>
			<key>effe_15_0041</key>
			<dict>
				<key>frame</key>
				<string>{{266,288},{133,119}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,40},{133,119}}</string>
				<key>sourceSize</key>
				<string>{133,119}</string>
			</dict>
			<key>effe_15_0042</key>
			<dict>
				<key>frame</key>
				<string>{{399,288},{131,117}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,42},{131,117}}</string>
				<key>sourceSize</key>
				<string>{131,117}</string>
			</dict>
			<key>effe_15_0043</key>
			<dict>
				<key>frame</key>
				<string>{{530,288},{131,116}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,43},{131,116}}</string>
				<key>sourceSize</key>
				<string>{131,116}</string>
			</dict>
			<key>effe_15_0044</key>
			<dict>
				<key>frame</key>
				<string>{{661,288},{131,114}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,45},{131,114}}</string>
				<key>sourceSize</key>
				<string>{131,114}</string>
			</dict>
			<key>effe_15_0045</key>
			<dict>
				<key>frame</key>
				<string>{{792,288},{131,113}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,46},{131,113}}</string>
				<key>sourceSize</key>
				<string>{131,113}</string>
			</dict>
			<key>effe_15_0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{131,112}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,47},{131,112}}</string>
				<key>sourceSize</key>
				<string>{131,112}</string>
			</dict>
			<key>effe_15_0047</key>
			<dict>
				<key>frame</key>
				<string>{{131,412},{131,110}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,49},{131,110}}</string>
				<key>sourceSize</key>
				<string>{131,110}</string>
			</dict>
			<key>effe_15_0048</key>
			<dict>
				<key>frame</key>
				<string>{{262,412},{131,108}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,51},{131,108}}</string>
				<key>sourceSize</key>
				<string>{131,108}</string>
			</dict>
			<key>effe_15_0049</key>
			<dict>
				<key>frame</key>
				<string>{{393,412},{130,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,52},{130,107}}</string>
				<key>sourceSize</key>
				<string>{130,107}</string>
			</dict>
			<key>effe_15_0050</key>
			<dict>
				<key>frame</key>
				<string>{{523,412},{130,105}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,54},{130,105}}</string>
				<key>sourceSize</key>
				<string>{130,105}</string>
			</dict>
			<key>effe_15_0051</key>
			<dict>
				<key>frame</key>
				<string>{{653,412},{129,103}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,56},{129,103}}</string>
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>effe_15_0052</key>
			<dict>
				<key>frame</key>
				<string>{{782,412},{129,102}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,57},{129,102}}</string>
				<key>sourceSize</key>
				<string>{129,102}</string>
			</dict>
			<key>effe_15_0053</key>
			<dict>
				<key>frame</key>
				<string>{{0,524},{129,100}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,59},{129,100}}</string>
				<key>sourceSize</key>
				<string>{129,100}</string>
			</dict>
			<key>effe_15_0054</key>
			<dict>
				<key>frame</key>
				<string>{{129,524},{129,98}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,61},{129,98}}</string>
				<key>sourceSize</key>
				<string>{129,98}</string>
			</dict>
			<key>effe_15_0055</key>
			<dict>
				<key>frame</key>
				<string>{{258,524},{129,93}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,66},{129,93}}</string>
				<key>sourceSize</key>
				<string>{129,93}</string>
			</dict>
			<key>effe_15_0056</key>
			<dict>
				<key>frame</key>
				<string>{{387,524},{128,94}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,65},{128,94}}</string>
				<key>sourceSize</key>
				<string>{128,94}</string>
			</dict>
			<key>effe_15_0057</key>
			<dict>
				<key>frame</key>
				<string>{{515,524},{107,58}}</string>
				<key>offset</key>
				<string>{-2,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,101},{107,58}}</string>
				<key>sourceSize</key>
				<string>{107,58}</string>
			</dict>
			<key>effe_15_0058</key>
			<dict>
				<key>frame</key>
				<string>{{622,524},{107,59}}</string>
				<key>offset</key>
				<string>{-2,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,100},{107,59}}</string>
				<key>sourceSize</key>
				<string>{107,59}</string>
			</dict>
			<key>effe_15_0059</key>
			<dict>
				<key>frame</key>
				<string>{{729,524},{106,43}}</string>
				<key>offset</key>
				<string>{-2,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,116},{106,43}}</string>
				<key>sourceSize</key>
				<string>{106,43}</string>
			</dict>
			<key>effe_15_0060</key>
			<dict>
				<key>frame</key>
				<string>{{835,524},{53,41}}</string>
				<key>offset</key>
				<string>{-2,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,118},{53,41}}</string>
				<key>sourceSize</key>
				<string>{53,41}</string>
			</dict>
			<key>effe_15_0061</key>
			<dict>
				<key>frame</key>
				<string>{{888,524},{51,41}}</string>
				<key>offset</key>
				<string>{-3,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,118},{51,41}}</string>
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>effe_15_0062</key>
			<dict>
				<key>frame</key>
				<string>{{939,524},{6,7}}</string>
				<key>offset</key>
				<string>{-24,-54}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,152},{6,7}}</string>
				<key>sourceSize</key>
				<string>{6,7}</string>
			</dict>
			<key>effe_15_0063</key>
			<dict>
				<key>frame</key>
				<string>{{945,524},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_15_0064</key>
			<dict>
				<key>frame</key>
				<string>{{945,524},{0,0}}</string>
				<key>offset</key>
				<string>{738,362}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,159},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_15.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_15.png</string>
		</dict>
	</dict>
</plist>
