<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_11_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{231,231}}</string>
				<key>offset</key>
				<string>{-115,-150}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0003</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0004</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0007</key>
			<dict>
				<key>frame</key>
				<string>{{231,231},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0008</key>
			<dict>
				<key>frame</key>
				<string>{{231,231},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0011</key>
			<dict>
				<key>frame</key>
				<string>{{231,462},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0012</key>
			<dict>
				<key>frame</key>
				<string>{{231,462},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,693},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0014</key>
			<dict>
				<key>frame</key>
				<string>{{231,693},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,924},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0016</key>
			<dict>
				<key>frame</key>
				<string>{{231,924},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,1155},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0018</key>
			<dict>
				<key>frame</key>
				<string>{{231,1155},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,1386},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0020</key>
			<dict>
				<key>frame</key>
				<string>{{231,1386},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,1617},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0022</key>
			<dict>
				<key>frame</key>
				<string>{{231,1617},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0023</key>
			<dict>
				<key>frame</key>
				<string>{{0,1155},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0024</key>
			<dict>
				<key>frame</key>
				<string>{{231,1155},{231,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,150},{231,231}}</string>
				<key>sourceSize</key>
				<string>{231,231}</string>
			</dict>
			<key>effe_11_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,1848},{162,163}}</string>
				<key>offset</key>
				<string>{-34,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,218},{162,163}}</string>
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>effe_11_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,1848},{162,163}}</string>
				<key>offset</key>
				<string>{-34,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,218},{162,163}}</string>
				<key>sourceSize</key>
				<string>{162,163}</string>
			</dict>
			<key>effe_11_0027</key>
			<dict>
				<key>frame</key>
				<string>{{162,1848},{116,117}}</string>
				<key>offset</key>
				<string>{-57,-57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,264},{116,117}}</string>
				<key>sourceSize</key>
				<string>{116,117}</string>
			</dict>
			<key>effe_11_0028</key>
			<dict>
				<key>frame</key>
				<string>{{278,1848},{0,0}}</string>
				<key>offset</key>
				<string>{158,173}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{346,381},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_11_0029</key>
			<dict>
				<key>frame</key>
				<string>{{278,1848},{0,0}}</string>
				<key>offset</key>
				<string>{158,173}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{346,381},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_11_0030</key>
			<dict>
				<key>frame</key>
				<string>{{278,1848},{0,0}}</string>
				<key>offset</key>
				<string>{158,173}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{346,381},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_11.png</string>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>effe_11.png</string>
		</dict>
	</dict>
</plist>
