<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_9_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{52,52}}</string>
				<key>offset</key>
				<string>{-150,-304}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{333,332},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>effe_9_0001</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{69,93}}</string>
				<key>offset</key>
				<string>{-150,-263}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{316,291},{69,93}}</string>
				<key>sourceSize</key>
				<string>{69,93}</string>
			</dict>
			<key>effe_9_0002</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{69,93}}</string>
				<key>offset</key>
				<string>{-150,-263}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{316,291},{69,93}}</string>
				<key>sourceSize</key>
				<string>{69,93}</string>
			</dict>
			<key>effe_9_0003</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{69,93}}</string>
				<key>offset</key>
				<string>{-150,-263}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{316,291},{69,93}}</string>
				<key>sourceSize</key>
				<string>{69,93}</string>
			</dict>
			<key>effe_9_0004</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{69,93}}</string>
				<key>offset</key>
				<string>{-150,-263}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{316,291},{69,93}}</string>
				<key>sourceSize</key>
				<string>{69,93}</string>
			</dict>
			<key>effe_9_0005</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{155,174}}</string>
				<key>offset</key>
				<string>{-115,-182}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,210},{155,174}}</string>
				<key>sourceSize</key>
				<string>{155,174}</string>
			</dict>
			<key>effe_9_0006</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{155,174}}</string>
				<key>offset</key>
				<string>{-115,-182}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,210},{155,174}}</string>
				<key>sourceSize</key>
				<string>{155,174}</string>
			</dict>
			<key>effe_9_0007</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{155,174}}</string>
				<key>offset</key>
				<string>{-115,-182}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,210},{155,174}}</string>
				<key>sourceSize</key>
				<string>{155,174}</string>
			</dict>
			<key>effe_9_0008</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{155,174}}</string>
				<key>offset</key>
				<string>{-115,-182}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,210},{155,174}}</string>
				<key>sourceSize</key>
				<string>{155,174}</string>
			</dict>
			<key>effe_9_0009</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0010</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0011</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0012</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0013</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0014</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0015</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0016</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0021</key>
			<dict>
				<key>frame</key>
				<string>{{257,256},{282,283}}</string>
				<key>offset</key>
				<string>{-51,-80}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,101},{282,283}}</string>
				<key>sourceSize</key>
				<string>{282,283}</string>
			</dict>
			<key>effe_9_0022</key>
			<dict>
				<key>frame</key>
				<string>{{257,256},{282,283}}</string>
				<key>offset</key>
				<string>{-51,-80}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,101},{282,283}}</string>
				<key>sourceSize</key>
				<string>{282,283}</string>
			</dict>
			<key>effe_9_0023</key>
			<dict>
				<key>frame</key>
				<string>{{257,256},{282,283}}</string>
				<key>offset</key>
				<string>{-51,-80}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,101},{282,283}}</string>
				<key>sourceSize</key>
				<string>{282,283}</string>
			</dict>
			<key>effe_9_0024</key>
			<dict>
				<key>frame</key>
				<string>{{257,256},{282,283}}</string>
				<key>offset</key>
				<string>{-51,-80}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,101},{282,283}}</string>
				<key>sourceSize</key>
				<string>{282,283}</string>
			</dict>
			<key>effe_9_0025</key>
			<dict>
				<key>frame</key>
				<string>{{539,256},{206,215}}</string>
				<key>offset</key>
				<string>{-89,-141}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,169},{206,215}}</string>
				<key>sourceSize</key>
				<string>{206,215}</string>
			</dict>
			<key>effe_9_0026</key>
			<dict>
				<key>frame</key>
				<string>{{539,256},{206,215}}</string>
				<key>offset</key>
				<string>{-89,-141}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,169},{206,215}}</string>
				<key>sourceSize</key>
				<string>{206,215}</string>
			</dict>
			<key>effe_9_0027</key>
			<dict>
				<key>frame</key>
				<string>{{539,256},{206,215}}</string>
				<key>offset</key>
				<string>{-89,-141}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,169},{206,215}}</string>
				<key>sourceSize</key>
				<string>{206,215}</string>
			</dict>
			<key>effe_9_0028</key>
			<dict>
				<key>frame</key>
				<string>{{539,256},{206,215}}</string>
				<key>offset</key>
				<string>{-89,-141}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,169},{206,215}}</string>
				<key>sourceSize</key>
				<string>{206,215}</string>
			</dict>
			<key>effe_9_0029</key>
			<dict>
				<key>frame</key>
				<string>{{745,256},{232,235}}</string>
				<key>offset</key>
				<string>{-76,-121}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,149},{232,235}}</string>
				<key>sourceSize</key>
				<string>{232,235}</string>
			</dict>
			<key>effe_9_0030</key>
			<dict>
				<key>frame</key>
				<string>{{745,256},{232,235}}</string>
				<key>offset</key>
				<string>{-76,-121}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,149},{232,235}}</string>
				<key>sourceSize</key>
				<string>{232,235}</string>
			</dict>
			<key>effe_9_0031</key>
			<dict>
				<key>frame</key>
				<string>{{745,256},{232,235}}</string>
				<key>offset</key>
				<string>{-76,-121}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,149},{232,235}}</string>
				<key>sourceSize</key>
				<string>{232,235}</string>
			</dict>
			<key>effe_9_0032</key>
			<dict>
				<key>frame</key>
				<string>{{745,256},{232,235}}</string>
				<key>offset</key>
				<string>{-76,-121}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,149},{232,235}}</string>
				<key>sourceSize</key>
				<string>{232,235}</string>
			</dict>
			<key>effe_9_0033</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0034</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0035</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0036</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{257,256}}</string>
				<key>offset</key>
				<string>{-64,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,128},{257,256}}</string>
				<key>sourceSize</key>
				<string>{257,256}</string>
			</dict>
			<key>effe_9_0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,539},{308,308}}</string>
				<key>offset</key>
				<string>{-38,-75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,76},{308,308}}</string>
				<key>sourceSize</key>
				<string>{308,308}</string>
			</dict>
			<key>effe_9_0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,539},{308,308}}</string>
				<key>offset</key>
				<string>{-38,-75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,76},{308,308}}</string>
				<key>sourceSize</key>
				<string>{308,308}</string>
			</dict>
			<key>effe_9_0039</key>
			<dict>
				<key>frame</key>
				<string>{{0,539},{308,308}}</string>
				<key>offset</key>
				<string>{-38,-75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,76},{308,308}}</string>
				<key>sourceSize</key>
				<string>{308,308}</string>
			</dict>
			<key>effe_9_0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,539},{308,308}}</string>
				<key>offset</key>
				<string>{-38,-75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,76},{308,308}}</string>
				<key>sourceSize</key>
				<string>{308,308}</string>
			</dict>
			<key>effe_9_0041</key>
			<dict>
				<key>frame</key>
				<string>{{308,539},{385,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,384}}</string>
				<key>sourceSize</key>
				<string>{385,384}</string>
			</dict>
			<key>effe_9_0042</key>
			<dict>
				<key>frame</key>
				<string>{{308,539},{385,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,384}}</string>
				<key>sourceSize</key>
				<string>{385,384}</string>
			</dict>
			<key>effe_9_0043</key>
			<dict>
				<key>frame</key>
				<string>{{308,539},{385,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,384}}</string>
				<key>sourceSize</key>
				<string>{385,384}</string>
			</dict>
			<key>effe_9_0044</key>
			<dict>
				<key>frame</key>
				<string>{{308,539},{385,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,384}}</string>
				<key>sourceSize</key>
				<string>{385,384}</string>
			</dict>
			<key>effe_9_0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{52,52}}</string>
				<key>offset</key>
				<string>{-150,-304}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{333,332},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_9.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_9.png</string>
		</dict>
	</dict>
</plist>
