<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_20_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{19,20}}</string>
				<key>offset</key>
				<string>{-67,-120}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,143},{19,20}}</string>
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
			<key>effe_20_0001</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0002</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0003</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0004</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0005</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0006</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0007</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0008</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0009</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0010</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0011</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0012</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0013</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0014</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0015</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0016</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0017</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0018</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0019</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0020</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0021</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0022</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0023</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0024</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{0,0}}</string>
				<key>offset</key>
				<string>{330,160}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,163},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_20_0025</key>
			<dict>
				<key>frame</key>
				<string>{{19,0},{118,43}}</string>
				<key>offset</key>
				<string>{-3,-120}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,120},{118,43}}</string>
				<key>sourceSize</key>
				<string>{118,43}</string>
			</dict>
			<key>effe_20_0026</key>
			<dict>
				<key>frame</key>
				<string>{{137,0},{118,47}}</string>
				<key>offset</key>
				<string>{-3,-115}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,116},{118,47}}</string>
				<key>sourceSize</key>
				<string>{118,47}</string>
			</dict>
			<key>effe_20_0027</key>
			<dict>
				<key>frame</key>
				<string>{{255,0},{134,54}}</string>
				<key>offset</key>
				<string>{-3,-106}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,109},{134,54}}</string>
				<key>sourceSize</key>
				<string>{134,54}</string>
			</dict>
			<key>effe_20_0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{134,56}}</string>
				<key>offset</key>
				<string>{-3,-104}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,107},{134,56}}</string>
				<key>sourceSize</key>
				<string>{134,56}</string>
			</dict>
			<key>effe_20_0029</key>
			<dict>
				<key>frame</key>
				<string>{{134,54},{134,56}}</string>
				<key>offset</key>
				<string>{-3,-102}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,107},{134,56}}</string>
				<key>sourceSize</key>
				<string>{134,56}</string>
			</dict>
			<key>effe_20_0030</key>
			<dict>
				<key>frame</key>
				<string>{{268,54},{134,54}}</string>
				<key>offset</key>
				<string>{-3,-101}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,109},{134,54}}</string>
				<key>sourceSize</key>
				<string>{134,54}</string>
			</dict>
			<key>effe_20_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{134,55}}</string>
				<key>offset</key>
				<string>{-3,-99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,108},{134,55}}</string>
				<key>sourceSize</key>
				<string>{134,55}</string>
			</dict>
			<key>effe_20_0032</key>
			<dict>
				<key>frame</key>
				<string>{{134,110},{137,55}}</string>
				<key>offset</key>
				<string>{0,-96}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,108},{137,55}}</string>
				<key>sourceSize</key>
				<string>{137,55}</string>
			</dict>
			<key>effe_20_0033</key>
			<dict>
				<key>frame</key>
				<string>{{271,110},{137,55}}</string>
				<key>offset</key>
				<string>{0,-94}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,108},{137,55}}</string>
				<key>sourceSize</key>
				<string>{137,55}</string>
			</dict>
			<key>effe_20_0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,165},{137,56}}</string>
				<key>offset</key>
				<string>{0,-92}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,107},{137,56}}</string>
				<key>sourceSize</key>
				<string>{137,56}</string>
			</dict>
			<key>effe_20_0035</key>
			<dict>
				<key>frame</key>
				<string>{{137,165},{137,57}}</string>
				<key>offset</key>
				<string>{0,-89}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,106},{137,57}}</string>
				<key>sourceSize</key>
				<string>{137,57}</string>
			</dict>
			<key>effe_20_0036</key>
			<dict>
				<key>frame</key>
				<string>{{274,165},{136,59}}</string>
				<key>offset</key>
				<string>{0,-86}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,104},{136,59}}</string>
				<key>sourceSize</key>
				<string>{136,59}</string>
			</dict>
			<key>effe_20_0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{136,60}}</string>
				<key>offset</key>
				<string>{0,-83}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,103},{136,60}}</string>
				<key>sourceSize</key>
				<string>{136,60}</string>
			</dict>
			<key>effe_20_0038</key>
			<dict>
				<key>frame</key>
				<string>{{136,224},{136,61}}</string>
				<key>offset</key>
				<string>{0,-80}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,102},{136,61}}</string>
				<key>sourceSize</key>
				<string>{136,61}</string>
			</dict>
			<key>effe_20_0039</key>
			<dict>
				<key>frame</key>
				<string>{{272,224},{136,63}}</string>
				<key>offset</key>
				<string>{0,-77}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,100},{136,63}}</string>
				<key>sourceSize</key>
				<string>{136,63}</string>
			</dict>
			<key>effe_20_0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{136,63}}</string>
				<key>offset</key>
				<string>{0,-74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,100},{136,63}}</string>
				<key>sourceSize</key>
				<string>{136,63}</string>
			</dict>
			<key>effe_20_0041</key>
			<dict>
				<key>frame</key>
				<string>{{136,287},{136,65}}</string>
				<key>offset</key>
				<string>{0,-70}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,98},{136,65}}</string>
				<key>sourceSize</key>
				<string>{136,65}</string>
			</dict>
			<key>effe_20_0042</key>
			<dict>
				<key>frame</key>
				<string>{{272,287},{134,66}}</string>
				<key>offset</key>
				<string>{-1,-67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,97},{134,66}}</string>
				<key>sourceSize</key>
				<string>{134,66}</string>
			</dict>
			<key>effe_20_0043</key>
			<dict>
				<key>frame</key>
				<string>{{0,353},{134,68}}</string>
				<key>offset</key>
				<string>{-1,-63}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,95},{134,68}}</string>
				<key>sourceSize</key>
				<string>{134,68}</string>
			</dict>
			<key>effe_20_0044</key>
			<dict>
				<key>frame</key>
				<string>{{134,353},{134,69}}</string>
				<key>offset</key>
				<string>{-1,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,94},{134,69}}</string>
				<key>sourceSize</key>
				<string>{134,69}</string>
			</dict>
			<key>effe_20_0045</key>
			<dict>
				<key>frame</key>
				<string>{{268,353},{134,71}}</string>
				<key>offset</key>
				<string>{-1,-55}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,92},{134,71}}</string>
				<key>sourceSize</key>
				<string>{134,71}</string>
			</dict>
			<key>effe_20_0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,424},{134,72}}</string>
				<key>offset</key>
				<string>{-1,-51}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,91},{134,72}}</string>
				<key>sourceSize</key>
				<string>{134,72}</string>
			</dict>
			<key>effe_20_0047</key>
			<dict>
				<key>frame</key>
				<string>{{134,424},{133,75}}</string>
				<key>offset</key>
				<string>{-1,-46}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,88},{133,75}}</string>
				<key>sourceSize</key>
				<string>{133,75}</string>
			</dict>
			<key>effe_20_0048</key>
			<dict>
				<key>frame</key>
				<string>{{267,424},{133,76}}</string>
				<key>offset</key>
				<string>{-1,-42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,87},{133,76}}</string>
				<key>sourceSize</key>
				<string>{133,76}</string>
			</dict>
			<key>effe_20_0049</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{133,79}}</string>
				<key>offset</key>
				<string>{-1,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,84},{133,79}}</string>
				<key>sourceSize</key>
				<string>{133,79}</string>
			</dict>
			<key>effe_20_0050</key>
			<dict>
				<key>frame</key>
				<string>{{133,500},{133,81}}</string>
				<key>offset</key>
				<string>{-1,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,82},{133,81}}</string>
				<key>sourceSize</key>
				<string>{133,81}</string>
			</dict>
			<key>effe_20_0051</key>
			<dict>
				<key>frame</key>
				<string>{{266,500},{132,84}}</string>
				<key>offset</key>
				<string>{-1,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,79},{132,84}}</string>
				<key>sourceSize</key>
				<string>{132,84}</string>
			</dict>
			<key>effe_20_0052</key>
			<dict>
				<key>frame</key>
				<string>{{0,584},{131,86}}</string>
				<key>offset</key>
				<string>{-2,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,77},{131,86}}</string>
				<key>sourceSize</key>
				<string>{131,86}</string>
			</dict>
			<key>effe_20_0053</key>
			<dict>
				<key>frame</key>
				<string>{{131,584},{131,89}}</string>
				<key>offset</key>
				<string>{-2,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,74},{131,89}}</string>
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>effe_20_0054</key>
			<dict>
				<key>frame</key>
				<string>{{262,584},{131,92}}</string>
				<key>offset</key>
				<string>{-2,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,71},{131,92}}</string>
				<key>sourceSize</key>
				<string>{131,92}</string>
			</dict>
			<key>effe_20_0055</key>
			<dict>
				<key>frame</key>
				<string>{{0,676},{130,95}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,68},{130,95}}</string>
				<key>sourceSize</key>
				<string>{130,95}</string>
			</dict>
			<key>effe_20_0056</key>
			<dict>
				<key>frame</key>
				<string>{{130,676},{130,97}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,66},{130,97}}</string>
				<key>sourceSize</key>
				<string>{130,97}</string>
			</dict>
			<key>effe_20_0057</key>
			<dict>
				<key>frame</key>
				<string>{{260,676},{107,80}}</string>
				<key>offset</key>
				<string>{-2,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,83},{107,80}}</string>
				<key>sourceSize</key>
				<string>{107,80}</string>
			</dict>
			<key>effe_20_0058</key>
			<dict>
				<key>frame</key>
				<string>{{367,676},{107,55}}</string>
				<key>offset</key>
				<string>{-2,-36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,108},{107,55}}</string>
				<key>sourceSize</key>
				<string>{107,55}</string>
			</dict>
			<key>effe_20_0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,773},{106,44}}</string>
				<key>offset</key>
				<string>{-3,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,119},{106,44}}</string>
				<key>sourceSize</key>
				<string>{106,44}</string>
			</dict>
			<key>effe_20_0060</key>
			<dict>
				<key>frame</key>
				<string>{{106,773},{53,44}}</string>
				<key>offset</key>
				<string>{-3,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,119},{53,44}}</string>
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>
			<key>effe_20_0061</key>
			<dict>
				<key>frame</key>
				<string>{{159,773},{53,44}}</string>
				<key>offset</key>
				<string>{-3,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,119},{53,44}}</string>
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>
			<key>effe_20_0062</key>
			<dict>
				<key>frame</key>
				<string>{{212,773},{8,8}}</string>
				<key>offset</key>
				<string>{-22,-54}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,155},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_20.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>effe_20.png</string>
		</dict>
	</dict>
</plist>
