<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_17_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{-46,-120}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0001</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0002</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0003</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0004</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0005</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0006</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0007</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0008</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0009</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0010</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0011</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0012</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0013</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0014</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0015</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0016</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0017</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0018</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0019</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0020</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0021</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0022</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0023</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0024</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{0,0}}</string>
				<key>offset</key>
				<string>{324,245}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,170},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_17_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0033</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0035</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0036</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0039</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0042</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0043</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0047</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0049</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0051</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0052</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0053</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0054</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0055</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0056</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0057</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0058</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0060</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0061</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0062</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>effe_17_0063</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,50}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,120},{87,50}}</string>
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_17.png</string>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>effe_17.png</string>
		</dict>
	</dict>
</plist>
