<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_56_1_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{6,6}}</string>
				<key>offset</key>
				<string>{-90,-96}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,129},{6,6}}</string>
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>effe_56_1_0001</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0002</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0003</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0004</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0005</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0006</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0007</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0008</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0009</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0010</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0011</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0012</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0013</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0014</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0015</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0016</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0017</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0018</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0019</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0020</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0021</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0022</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0023</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0024</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_56_1_0025</key>
			<dict>
				<key>frame</key>
				<string>{{6,0},{154,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,17},{154,118}}</string>
				<key>sourceSize</key>
				<string>{154,118}</string>
			</dict>
			<key>effe_56_1_0026</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{153,118}}</string>
				<key>offset</key>
				<string>{-16,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,17},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_56_1_0027</key>
			<dict>
				<key>frame</key>
				<string>{{313,0},{153,118}}</string>
				<key>offset</key>
				<string>{-16,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,17},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_56_1_0028</key>
			<dict>
				<key>frame</key>
				<string>{{466,0},{153,118}}</string>
				<key>offset</key>
				<string>{-16,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,17},{153,118}}</string>
				<key>sourceSize</key>
				<string>{153,118}</string>
			</dict>
			<key>effe_56_1_0029</key>
			<dict>
				<key>frame</key>
				<string>{{619,0},{154,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,17},{154,118}}</string>
				<key>sourceSize</key>
				<string>{154,118}</string>
			</dict>
			<key>effe_56_1_0030</key>
			<dict>
				<key>frame</key>
				<string>{{773,0},{155,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,17},{155,118}}</string>
				<key>sourceSize</key>
				<string>{155,118}</string>
			</dict>
			<key>effe_56_1_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{155,118}}</string>
				<key>offset</key>
				<string>{-15,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,17},{155,118}}</string>
				<key>sourceSize</key>
				<string>{155,118}</string>
			</dict>
			<key>effe_56_1_0032</key>
			<dict>
				<key>frame</key>
				<string>{{155,118},{155,119}}</string>
				<key>offset</key>
				<string>{-15,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,16},{155,119}}</string>
				<key>sourceSize</key>
				<string>{155,119}</string>
			</dict>
			<key>effe_56_1_0033</key>
			<dict>
				<key>frame</key>
				<string>{{310,118},{155,119}}</string>
				<key>offset</key>
				<string>{-15,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,16},{155,119}}</string>
				<key>sourceSize</key>
				<string>{155,119}</string>
			</dict>
			<key>effe_56_1_0034</key>
			<dict>
				<key>frame</key>
				<string>{{465,118},{156,119}}</string>
				<key>offset</key>
				<string>{-14,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,16},{156,119}}</string>
				<key>sourceSize</key>
				<string>{156,119}</string>
			</dict>
			<key>effe_56_1_0035</key>
			<dict>
				<key>frame</key>
				<string>{{621,118},{157,119}}</string>
				<key>offset</key>
				<string>{-14,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,16},{157,119}}</string>
				<key>sourceSize</key>
				<string>{157,119}</string>
			</dict>
			<key>effe_56_1_0036</key>
			<dict>
				<key>frame</key>
				<string>{{778,118},{157,120}}</string>
				<key>offset</key>
				<string>{-14,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,15},{157,120}}</string>
				<key>sourceSize</key>
				<string>{157,120}</string>
			</dict>
			<key>effe_56_1_0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{157,120}}</string>
				<key>offset</key>
				<string>{-14,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,15},{157,120}}</string>
				<key>sourceSize</key>
				<string>{157,120}</string>
			</dict>
			<key>effe_56_1_0038</key>
			<dict>
				<key>frame</key>
				<string>{{157,238},{158,121}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,14},{158,121}}</string>
				<key>sourceSize</key>
				<string>{158,121}</string>
			</dict>
			<key>effe_56_1_0039</key>
			<dict>
				<key>frame</key>
				<string>{{315,238},{159,121}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,14},{159,121}}</string>
				<key>sourceSize</key>
				<string>{159,121}</string>
			</dict>
			<key>effe_56_1_0040</key>
			<dict>
				<key>frame</key>
				<string>{{474,238},{159,122}}</string>
				<key>offset</key>
				<string>{-13,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,13},{159,122}}</string>
				<key>sourceSize</key>
				<string>{159,122}</string>
			</dict>
			<key>effe_56_1_0041</key>
			<dict>
				<key>frame</key>
				<string>{{633,238},{159,122}}</string>
				<key>offset</key>
				<string>{-13,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,13},{159,122}}</string>
				<key>sourceSize</key>
				<string>{159,122}</string>
			</dict>
			<key>effe_56_1_0042</key>
			<dict>
				<key>frame</key>
				<string>{{792,238},{160,122}}</string>
				<key>offset</key>
				<string>{-12,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,13},{160,122}}</string>
				<key>sourceSize</key>
				<string>{160,122}</string>
			</dict>
			<key>effe_56_1_0043</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{161,123}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,12},{161,123}}</string>
				<key>sourceSize</key>
				<string>{161,123}</string>
			</dict>
			<key>effe_56_1_0044</key>
			<dict>
				<key>frame</key>
				<string>{{161,360},{161,123}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,12},{161,123}}</string>
				<key>sourceSize</key>
				<string>{161,123}</string>
			</dict>
			<key>effe_56_1_0045</key>
			<dict>
				<key>frame</key>
				<string>{{322,360},{161,123}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,12},{161,123}}</string>
				<key>sourceSize</key>
				<string>{161,123}</string>
			</dict>
			<key>effe_56_1_0046</key>
			<dict>
				<key>frame</key>
				<string>{{483,360},{162,123}}</string>
				<key>offset</key>
				<string>{-11,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{162,123}}</string>
				<key>sourceSize</key>
				<string>{162,123}</string>
			</dict>
			<key>effe_56_1_0047</key>
			<dict>
				<key>frame</key>
				<string>{{645,360},{163,124}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,11},{163,124}}</string>
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>effe_56_1_0048</key>
			<dict>
				<key>frame</key>
				<string>{{808,360},{163,124}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,11},{163,124}}</string>
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>
			<key>effe_56_1_0049</key>
			<dict>
				<key>frame</key>
				<string>{{0,484},{163,125}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,10},{163,125}}</string>
				<key>sourceSize</key>
				<string>{163,125}</string>
			</dict>
			<key>effe_56_1_0050</key>
			<dict>
				<key>frame</key>
				<string>{{163,484},{164,125}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,10},{164,125}}</string>
				<key>sourceSize</key>
				<string>{164,125}</string>
			</dict>
			<key>effe_56_1_0051</key>
			<dict>
				<key>frame</key>
				<string>{{327,484},{165,125}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,10},{165,125}}</string>
				<key>sourceSize</key>
				<string>{165,125}</string>
			</dict>
			<key>effe_56_1_0052</key>
			<dict>
				<key>frame</key>
				<string>{{492,484},{165,125}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,10},{165,125}}</string>
				<key>sourceSize</key>
				<string>{165,125}</string>
			</dict>
			<key>effe_56_1_0053</key>
			<dict>
				<key>frame</key>
				<string>{{657,484},{166,125}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,10},{166,125}}</string>
				<key>sourceSize</key>
				<string>{166,125}</string>
			</dict>
			<key>effe_56_1_0054</key>
			<dict>
				<key>frame</key>
				<string>{{823,484},{167,124}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,11},{167,124}}</string>
				<key>sourceSize</key>
				<string>{167,124}</string>
			</dict>
			<key>effe_56_1_0055</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{167,124}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,11},{167,124}}</string>
				<key>sourceSize</key>
				<string>{167,124}</string>
			</dict>
			<key>effe_56_1_0056</key>
			<dict>
				<key>frame</key>
				<string>{{167,609},{167,124}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,11},{167,124}}</string>
				<key>sourceSize</key>
				<string>{167,124}</string>
			</dict>
			<key>effe_56_1_0057</key>
			<dict>
				<key>frame</key>
				<string>{{334,609},{169,123}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,12},{169,123}}</string>
				<key>sourceSize</key>
				<string>{169,123}</string>
			</dict>
			<key>effe_56_1_0058</key>
			<dict>
				<key>frame</key>
				<string>{{503,609},{169,123}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,12},{169,123}}</string>
				<key>sourceSize</key>
				<string>{169,123}</string>
			</dict>
			<key>effe_56_1_0059</key>
			<dict>
				<key>frame</key>
				<string>{{672,609},{169,123}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,12},{169,123}}</string>
				<key>sourceSize</key>
				<string>{169,123}</string>
			</dict>
			<key>effe_56_1_0060</key>
			<dict>
				<key>frame</key>
				<string>{{841,609},{171,123}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,12},{171,123}}</string>
				<key>sourceSize</key>
				<string>{171,123}</string>
			</dict>
			<key>effe_56_1_0061</key>
			<dict>
				<key>frame</key>
				<string>{{0,733},{171,122}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,13},{171,122}}</string>
				<key>sourceSize</key>
				<string>{171,122}</string>
			</dict>
			<key>effe_56_1_0062</key>
			<dict>
				<key>frame</key>
				<string>{{171,733},{171,123}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,12},{171,123}}</string>
				<key>sourceSize</key>
				<string>{171,123}</string>
			</dict>
			<key>effe_56_1_0063</key>
			<dict>
				<key>frame</key>
				<string>{{342,733},{172,124}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,11},{172,124}}</string>
				<key>sourceSize</key>
				<string>{172,124}</string>
			</dict>
			<key>effe_56_1_0064</key>
			<dict>
				<key>frame</key>
				<string>{{514,733},{173,125}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,10},{173,125}}</string>
				<key>sourceSize</key>
				<string>{173,125}</string>
			</dict>
			<key>effe_56_1_0065</key>
			<dict>
				<key>frame</key>
				<string>{{687,733},{173,124}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,11},{173,124}}</string>
				<key>sourceSize</key>
				<string>{173,124}</string>
			</dict>
			<key>effe_56_1_0066</key>
			<dict>
				<key>frame</key>
				<string>{{0,858},{173,125}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,10},{173,125}}</string>
				<key>sourceSize</key>
				<string>{173,125}</string>
			</dict>
			<key>effe_56_1_0067</key>
			<dict>
				<key>frame</key>
				<string>{{173,858},{175,126}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,9},{175,126}}</string>
				<key>sourceSize</key>
				<string>{175,126}</string>
			</dict>
			<key>effe_56_1_0068</key>
			<dict>
				<key>frame</key>
				<string>{{348,858},{175,126}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,9},{175,126}}</string>
				<key>sourceSize</key>
				<string>{175,126}</string>
			</dict>
			<key>effe_56_1_0069</key>
			<dict>
				<key>frame</key>
				<string>{{523,858},{175,126}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,9},{175,126}}</string>
				<key>sourceSize</key>
				<string>{175,126}</string>
			</dict>
			<key>effe_56_1_0070</key>
			<dict>
				<key>frame</key>
				<string>{{698,858},{176,127}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{176,127}}</string>
				<key>sourceSize</key>
				<string>{176,127}</string>
			</dict>
			<key>effe_56_1_0071</key>
			<dict>
				<key>frame</key>
				<string>{{0,985},{177,127}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,8},{177,127}}</string>
				<key>sourceSize</key>
				<string>{177,127}</string>
			</dict>
			<key>effe_56_1_0072</key>
			<dict>
				<key>frame</key>
				<string>{{177,985},{177,128}}</string>
				<key>offset</key>
				<string>{-4,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,7},{177,128}}</string>
				<key>sourceSize</key>
				<string>{177,128}</string>
			</dict>
			<key>effe_56_1_0073</key>
			<dict>
				<key>frame</key>
				<string>{{354,985},{177,127}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,8},{177,127}}</string>
				<key>sourceSize</key>
				<string>{177,127}</string>
			</dict>
			<key>effe_56_1_0074</key>
			<dict>
				<key>frame</key>
				<string>{{531,985},{177,128}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,7},{177,128}}</string>
				<key>sourceSize</key>
				<string>{177,128}</string>
			</dict>
			<key>effe_56_1_0075</key>
			<dict>
				<key>frame</key>
				<string>{{708,985},{179,128}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,7},{179,128}}</string>
				<key>sourceSize</key>
				<string>{179,128}</string>
			</dict>
			<key>effe_56_1_0076</key>
			<dict>
				<key>frame</key>
				<string>{{0,1113},{179,129}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{179,129}}</string>
				<key>sourceSize</key>
				<string>{179,129}</string>
			</dict>
			<key>effe_56_1_0077</key>
			<dict>
				<key>frame</key>
				<string>{{179,1113},{179,120}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,15},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>
			<key>effe_56_1_0078</key>
			<dict>
				<key>frame</key>
				<string>{{358,1113},{179,119}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,16},{179,119}}</string>
				<key>sourceSize</key>
				<string>{179,119}</string>
			</dict>
			<key>effe_56_1_0079</key>
			<dict>
				<key>frame</key>
				<string>{{537,1113},{181,119}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,16},{181,119}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
			<key>effe_56_1_0080</key>
			<dict>
				<key>frame</key>
				<string>{{718,1113},{181,119}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,16},{181,119}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
			<key>effe_56_1_0081</key>
			<dict>
				<key>frame</key>
				<string>{{0,1242},{181,119}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,16},{181,119}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
			<key>effe_56_1_0082</key>
			<dict>
				<key>frame</key>
				<string>{{181,1242},{181,119}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,16},{181,119}}</string>
				<key>sourceSize</key>
				<string>{181,119}</string>
			</dict>
			<key>effe_56_1_0083</key>
			<dict>
				<key>frame</key>
				<string>{{362,1242},{182,118}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{182,118}}</string>
				<key>sourceSize</key>
				<string>{182,118}</string>
			</dict>
			<key>effe_56_1_0084</key>
			<dict>
				<key>frame</key>
				<string>{{544,1242},{183,118}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{183,118}}</string>
				<key>sourceSize</key>
				<string>{183,118}</string>
			</dict>
			<key>effe_56_1_0085</key>
			<dict>
				<key>frame</key>
				<string>{{727,1242},{183,119}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{183,119}}</string>
				<key>sourceSize</key>
				<string>{183,119}</string>
			</dict>
			<key>effe_56_1_0086</key>
			<dict>
				<key>frame</key>
				<string>{{0,1361},{183,119}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{183,119}}</string>
				<key>sourceSize</key>
				<string>{183,119}</string>
			</dict>
			<key>effe_56_1_0087</key>
			<dict>
				<key>frame</key>
				<string>{{183,1361},{183,119}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{183,119}}</string>
				<key>sourceSize</key>
				<string>{183,119}</string>
			</dict>
			<key>effe_56_1_0088</key>
			<dict>
				<key>frame</key>
				<string>{{366,1361},{184,119}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{184,119}}</string>
				<key>sourceSize</key>
				<string>{184,119}</string>
			</dict>
			<key>effe_56_1_0089</key>
			<dict>
				<key>frame</key>
				<string>{{550,1361},{0,0}}</string>
				<key>offset</key>
				<string>{230,235}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,135},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_56_1.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>effe_56_1.png</string>
		</dict>
	</dict>
</plist>
