<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_5_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{-129,-190}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0002</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0003</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0004</key>
			<dict>
				<key>frame</key>
				<string>{{768,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0006</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0007</key>
			<dict>
				<key>frame</key>
				<string>{{512,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0008</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0009</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0010</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0011</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0012</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0013</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0014</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0015</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0016</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0017</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0018</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0019</key>
			<dict>
				<key>frame</key>
				<string>{{768,256},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0022</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0023</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effe_5_0024</key>
			<dict>
				<key>frame</key>
				<string>{{512,512},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,190},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_5.png</string>
		</dict>
	</dict>
</plist>
