<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_53_1_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{8,8}}</string>
				<key>offset</key>
				<string>{-56,-279}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1065,320},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>effe_53_1_0001</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0002</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0003</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0004</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0005</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0006</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0007</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0008</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0009</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0010</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0011</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0012</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0013</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0014</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0015</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0016</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0017</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0018</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0019</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0020</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0021</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0022</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0023</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0024</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{0,0}}</string>
				<key>offset</key>
				<string>{192,67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,328},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_53_1_0025</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{101,95}}</string>
				<key>offset</key>
				<string>{-972,-166}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,233},{101,95}}</string>
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effe_53_1_0026</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{101,95}}</string>
				<key>offset</key>
				<string>{-972,-166}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,233},{101,95}}</string>
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effe_53_1_0027</key>
			<dict>
				<key>frame</key>
				<string>{{8,0},{101,95}}</string>
				<key>offset</key>
				<string>{-972,-166}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,233},{101,95}}</string>
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effe_53_1_0028</key>
			<dict>
				<key>frame</key>
				<string>{{109,0},{97,100}}</string>
				<key>offset</key>
				<string>{-914,-105}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{976,228},{97,100}}</string>
				<key>sourceSize</key>
				<string>{97,100}</string>
			</dict>
			<key>effe_53_1_0029</key>
			<dict>
				<key>frame</key>
				<string>{{109,0},{97,100}}</string>
				<key>offset</key>
				<string>{-914,-105}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{976,228},{97,100}}</string>
				<key>sourceSize</key>
				<string>{97,100}</string>
			</dict>
			<key>effe_53_1_0030</key>
			<dict>
				<key>frame</key>
				<string>{{109,0},{97,100}}</string>
				<key>offset</key>
				<string>{-914,-105}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{976,228},{97,100}}</string>
				<key>sourceSize</key>
				<string>{97,100}</string>
			</dict>
			<key>effe_53_1_0031</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{93,104}}</string>
				<key>offset</key>
				<string>{-831,-57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{980,224},{93,104}}</string>
				<key>sourceSize</key>
				<string>{93,104}</string>
			</dict>
			<key>effe_53_1_0032</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{93,104}}</string>
				<key>offset</key>
				<string>{-831,-57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{980,224},{93,104}}</string>
				<key>sourceSize</key>
				<string>{93,104}</string>
			</dict>
			<key>effe_53_1_0033</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{93,104}}</string>
				<key>offset</key>
				<string>{-831,-57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{980,224},{93,104}}</string>
				<key>sourceSize</key>
				<string>{93,104}</string>
			</dict>
			<key>effe_53_1_0034</key>
			<dict>
				<key>frame</key>
				<string>{{299,0},{84,105}}</string>
				<key>offset</key>
				<string>{-732,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{989,223},{84,105}}</string>
				<key>sourceSize</key>
				<string>{84,105}</string>
			</dict>
			<key>effe_53_1_0035</key>
			<dict>
				<key>frame</key>
				<string>{{299,0},{84,105}}</string>
				<key>offset</key>
				<string>{-732,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{989,223},{84,105}}</string>
				<key>sourceSize</key>
				<string>{84,105}</string>
			</dict>
			<key>effe_53_1_0036</key>
			<dict>
				<key>frame</key>
				<string>{{299,0},{84,105}}</string>
				<key>offset</key>
				<string>{-732,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{989,223},{84,105}}</string>
				<key>sourceSize</key>
				<string>{84,105}</string>
			</dict>
			<key>effe_53_1_0037</key>
			<dict>
				<key>frame</key>
				<string>{{383,0},{71,103}}</string>
				<key>offset</key>
				<string>{-620,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1002,225},{71,103}}</string>
				<key>sourceSize</key>
				<string>{71,103}</string>
			</dict>
			<key>effe_53_1_0038</key>
			<dict>
				<key>frame</key>
				<string>{{383,0},{71,103}}</string>
				<key>offset</key>
				<string>{-620,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1002,225},{71,103}}</string>
				<key>sourceSize</key>
				<string>{71,103}</string>
			</dict>
			<key>effe_53_1_0039</key>
			<dict>
				<key>frame</key>
				<string>{{383,0},{71,103}}</string>
				<key>offset</key>
				<string>{-620,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1002,225},{71,103}}</string>
				<key>sourceSize</key>
				<string>{71,103}</string>
			</dict>
			<key>effe_53_1_0040</key>
			<dict>
				<key>frame</key>
				<string>{{454,0},{57,97}}</string>
				<key>offset</key>
				<string>{-494,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1016,231},{57,97}}</string>
				<key>sourceSize</key>
				<string>{57,97}</string>
			</dict>
			<key>effe_53_1_0041</key>
			<dict>
				<key>frame</key>
				<string>{{454,0},{57,97}}</string>
				<key>offset</key>
				<string>{-494,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1016,231},{57,97}}</string>
				<key>sourceSize</key>
				<string>{57,97}</string>
			</dict>
			<key>effe_53_1_0042</key>
			<dict>
				<key>frame</key>
				<string>{{454,0},{57,97}}</string>
				<key>offset</key>
				<string>{-494,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1016,231},{57,97}}</string>
				<key>sourceSize</key>
				<string>{57,97}</string>
			</dict>
			<key>effe_53_1_0043</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{79,108}}</string>
				<key>offset</key>
				<string>{-339,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{994,220},{79,108}}</string>
				<key>sourceSize</key>
				<string>{79,108}</string>
			</dict>
			<key>effe_53_1_0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{79,108}}</string>
				<key>offset</key>
				<string>{-339,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{994,220},{79,108}}</string>
				<key>sourceSize</key>
				<string>{79,108}</string>
			</dict>
			<key>effe_53_1_0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{79,108}}</string>
				<key>offset</key>
				<string>{-339,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{994,220},{79,108}}</string>
				<key>sourceSize</key>
				<string>{79,108}</string>
			</dict>
			<key>effe_53_1_0046</key>
			<dict>
				<key>frame</key>
				<string>{{79,105},{99,115}}</string>
				<key>offset</key>
				<string>{-181,-61}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{974,213},{99,115}}</string>
				<key>sourceSize</key>
				<string>{99,115}</string>
			</dict>
			<key>effe_53_1_0047</key>
			<dict>
				<key>frame</key>
				<string>{{178,105},{105,114}}</string>
				<key>offset</key>
				<string>{-130,-90}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{968,214},{105,114}}</string>
				<key>sourceSize</key>
				<string>{105,114}</string>
			</dict>
			<key>effe_53_1_0048</key>
			<dict>
				<key>frame</key>
				<string>{{283,105},{110,114}}</string>
				<key>offset</key>
				<string>{-83,-125}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{963,214},{110,114}}</string>
				<key>sourceSize</key>
				<string>{110,114}</string>
			</dict>
			<key>effe_53_1_0049</key>
			<dict>
				<key>frame</key>
				<string>{{393,105},{113,111}}</string>
				<key>offset</key>
				<string>{-42,-169}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{960,217},{113,111}}</string>
				<key>sourceSize</key>
				<string>{113,111}</string>
			</dict>
			<key>effe_53_1_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{117,109}}</string>
				<key>offset</key>
				<string>{-6,-219}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{956,219},{117,109}}</string>
				<key>sourceSize</key>
				<string>{117,109}</string>
			</dict>
			<key>effe_53_1_0051</key>
			<dict>
				<key>frame</key>
				<string>{{117,220},{56,50}}</string>
				<key>offset</key>
				<string>{-40,-233}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1017,278},{56,50}}</string>
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>
			<key>effe_53_1_0052</key>
			<dict>
				<key>frame</key>
				<string>{{173,220},{95,87}}</string>
				<key>offset</key>
				<string>{-29,-199}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{978,241},{95,87}}</string>
				<key>sourceSize</key>
				<string>{95,87}</string>
			</dict>
			<key>effe_53_1_0053</key>
			<dict>
				<key>frame</key>
				<string>{{268,220},{128,126}}</string>
				<key>offset</key>
				<string>{-19,-171}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{945,202},{128,126}}</string>
				<key>sourceSize</key>
				<string>{128,126}</string>
			</dict>
			<key>effe_53_1_0054</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{195,124}}</string>
				<key>offset</key>
				<string>{-9,-174}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{878,204},{195,124}}</string>
				<key>sourceSize</key>
				<string>{195,124}</string>
			</dict>
			<key>effe_53_1_0055</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{195,124}}</string>
				<key>offset</key>
				<string>{-9,-174}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{878,204},{195,124}}</string>
				<key>sourceSize</key>
				<string>{195,124}</string>
			</dict>
			<key>effe_53_1_0056</key>
			<dict>
				<key>frame</key>
				<string>{{195,346},{190,128}}</string>
				<key>offset</key>
				<string>{-12,-172}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,200},{190,128}}</string>
				<key>sourceSize</key>
				<string>{190,128}</string>
			</dict>
			<key>effe_53_1_0057</key>
			<dict>
				<key>frame</key>
				<string>{{195,346},{190,128}}</string>
				<key>offset</key>
				<string>{-12,-172}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,200},{190,128}}</string>
				<key>sourceSize</key>
				<string>{190,128}</string>
			</dict>
			<key>effe_53_1_0058</key>
			<dict>
				<key>frame</key>
				<string>{{0,474},{190,139}}</string>
				<key>offset</key>
				<string>{-7,-165}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,189},{190,139}}</string>
				<key>sourceSize</key>
				<string>{190,139}</string>
			</dict>
			<key>effe_53_1_0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,474},{190,139}}</string>
				<key>offset</key>
				<string>{-7,-165}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,189},{190,139}}</string>
				<key>sourceSize</key>
				<string>{190,139}</string>
			</dict>
			<key>effe_53_1_0060</key>
			<dict>
				<key>frame</key>
				<string>{{190,474},{184,158}}</string>
				<key>offset</key>
				<string>{0,-147}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{889,170},{184,158}}</string>
				<key>sourceSize</key>
				<string>{184,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_53_1.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>effe_53_1.png</string>
		</dict>
	</dict>
</plist>
