<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_10_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{46,46}}</string>
				<key>offset</key>
				<string>{-126,-502}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0001</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0002</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0003</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,-57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0004</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,-85}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0005</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,-113}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0006</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,-142}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0007</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,-170}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0008</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,-198}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0009</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{46,46}}</string>
				<key>offset</key>
				<string>{-94,-226}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,548},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>effe_10_0010</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{46,45}}</string>
				<key>offset</key>
				<string>{-94,-255}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,549},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>effe_10_0011</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{46,45}}</string>
				<key>offset</key>
				<string>{-94,-283}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,549},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>effe_10_0012</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{46,45}}</string>
				<key>offset</key>
				<string>{-94,-311}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,549},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>effe_10_0013</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{46,45}}</string>
				<key>offset</key>
				<string>{-94,-339}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,549},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>effe_10_0014</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{46,45}}</string>
				<key>offset</key>
				<string>{-94,-367}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,549},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>effe_10_0015</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{46,45}}</string>
				<key>offset</key>
				<string>{-94,-396}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,549},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>effe_10_0016</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{46,45}}</string>
				<key>offset</key>
				<string>{-94,-424}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,549},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>effe_10_0017</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{257,257}}</string>
				<key>offset</key>
				<string>{0,-337}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,337},{257,257}}</string>
				<key>sourceSize</key>
				<string>{257,257}</string>
			</dict>
			<key>effe_10_0018</key>
			<dict>
				<key>frame</key>
				<string>{{395,0},{257,257}}</string>
				<key>offset</key>
				<string>{0,-337}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,337},{257,257}}</string>
				<key>sourceSize</key>
				<string>{257,257}</string>
			</dict>
			<key>effe_10_0019</key>
			<dict>
				<key>frame</key>
				<string>{{652,0},{257,257}}</string>
				<key>offset</key>
				<string>{0,-337}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,337},{257,257}}</string>
				<key>sourceSize</key>
				<string>{257,257}</string>
			</dict>
			<key>effe_10_0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{257,257}}</string>
				<key>offset</key>
				<string>{0,-337}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,337},{257,257}}</string>
				<key>sourceSize</key>
				<string>{257,257}</string>
			</dict>
			<key>effe_10_0021</key>
			<dict>
				<key>frame</key>
				<string>{{257,257},{257,257}}</string>
				<key>offset</key>
				<string>{0,-337}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,337},{257,257}}</string>
				<key>sourceSize</key>
				<string>{257,257}</string>
			</dict>
			<key>effe_10_0022</key>
			<dict>
				<key>frame</key>
				<string>{{514,257},{257,257}}</string>
				<key>offset</key>
				<string>{0,-337}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,337},{257,257}}</string>
				<key>sourceSize</key>
				<string>{257,257}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>effe_10.png</string>
		</dict>
	</dict>
</plist>
