<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_59_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{17,10}}</string>
				<key>offset</key>
				<string>{-114,-62}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{209,115},{17,10}}</string>
				<key>sourceSize</key>
				<string>{17,10}</string>
			</dict>
			<key>effe_59_0001</key>
			<dict>
				<key>frame</key>
				<string>{{17,0},{163,90}}</string>
				<key>offset</key>
				<string>{-31,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,35},{163,90}}</string>
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>effe_59_0002</key>
			<dict>
				<key>frame</key>
				<string>{{17,0},{163,90}}</string>
				<key>offset</key>
				<string>{-31,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,35},{163,90}}</string>
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>effe_59_0003</key>
			<dict>
				<key>frame</key>
				<string>{{17,0},{163,90}}</string>
				<key>offset</key>
				<string>{-31,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,35},{163,90}}</string>
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>effe_59_0004</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0005</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0006</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0010</key>
			<dict>
				<key>frame</key>
				<string>{{226,113},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0011</key>
			<dict>
				<key>frame</key>
				<string>{{226,113},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0012</key>
			<dict>
				<key>frame</key>
				<string>{{226,113},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0016</key>
			<dict>
				<key>frame</key>
				<string>{{204,238},{163,90}}</string>
				<key>offset</key>
				<string>{-31,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,35},{163,90}}</string>
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>effe_59_0017</key>
			<dict>
				<key>frame</key>
				<string>{{204,238},{163,90}}</string>
				<key>offset</key>
				<string>{-31,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,35},{163,90}}</string>
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>effe_59_0018</key>
			<dict>
				<key>frame</key>
				<string>{{204,238},{163,90}}</string>
				<key>offset</key>
				<string>{-31,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,35},{163,90}}</string>
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>effe_59_0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0022</key>
			<dict>
				<key>frame</key>
				<string>{{204,351},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0023</key>
			<dict>
				<key>frame</key>
				<string>{{204,351},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0024</key>
			<dict>
				<key>frame</key>
				<string>{{204,351},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{226,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,125}}</string>
				<key>sourceSize</key>
				<string>{226,125}</string>
			</dict>
			<key>effe_59_0028</key>
			<dict>
				<key>frame</key>
				<string>{{226,476},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0029</key>
			<dict>
				<key>frame</key>
				<string>{{226,476},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
			<key>effe_59_0030</key>
			<dict>
				<key>frame</key>
				<string>{{226,476},{204,113}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{204,113}}</string>
				<key>sourceSize</key>
				<string>{204,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_59.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>effe_59.png</string>
		</dict>
	</dict>
</plist>
