<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_33_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{11,7}}</string>
				<key>offset</key>
				<string>{-86,-47}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,89},{11,7}}</string>
				<key>sourceSize</key>
				<string>{11,7}</string>
			</dict>
			<key>effe_33_0001</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{154,85}}</string>
				<key>offset</key>
				<string>{-10,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,11},{154,85}}</string>
				<key>sourceSize</key>
				<string>{154,85}</string>
			</dict>
			<key>effe_33_0002</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{154,85}}</string>
				<key>offset</key>
				<string>{-10,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,11},{154,85}}</string>
				<key>sourceSize</key>
				<string>{154,85}</string>
			</dict>
			<key>effe_33_0003</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{154,85}}</string>
				<key>offset</key>
				<string>{-10,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,11},{154,85}}</string>
				<key>sourceSize</key>
				<string>{154,85}</string>
			</dict>
			<key>effe_33_0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{164,90}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{164,90}}</string>
				<key>sourceSize</key>
				<string>{164,90}</string>
			</dict>
			<key>effe_33_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{164,90}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{164,90}}</string>
				<key>sourceSize</key>
				<string>{164,90}</string>
			</dict>
			<key>effe_33_0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{164,90}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{164,90}}</string>
				<key>sourceSize</key>
				<string>{164,90}</string>
			</dict>
			<key>effe_33_0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{174,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,96}}</string>
				<key>sourceSize</key>
				<string>{174,96}</string>
			</dict>
			<key>effe_33_0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{174,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,96}}</string>
				<key>sourceSize</key>
				<string>{174,96}</string>
			</dict>
			<key>effe_33_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{174,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,96}}</string>
				<key>sourceSize</key>
				<string>{174,96}</string>
			</dict>
			<key>effe_33_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{168,92}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{168,92}}</string>
				<key>sourceSize</key>
				<string>{168,92}</string>
			</dict>
			<key>effe_33_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{168,92}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{168,92}}</string>
				<key>sourceSize</key>
				<string>{168,92}</string>
			</dict>
			<key>effe_33_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{168,92}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{168,92}}</string>
				<key>sourceSize</key>
				<string>{168,92}</string>
			</dict>
			<key>effe_33_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{160,89}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{160,89}}</string>
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>effe_33_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{160,89}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{160,89}}</string>
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
			<key>effe_33_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{160,89}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{160,89}}</string>
				<key>sourceSize</key>
				<string>{160,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_33.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>effe_33.png</string>
		</dict>
	</dict>
</plist>
