<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_41_1_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{11,11}}</string>
				<key>offset</key>
				<string>{-59,-289}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1117,342},{11,11}}</string>
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>effe_41_1_0001</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0002</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0003</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0004</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0005</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0006</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0007</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0008</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0009</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0010</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0011</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0012</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0013</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0014</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0015</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0016</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0017</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0018</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0019</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0020</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0021</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0022</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0023</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0024</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{227,-59}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>effe_41_1_0025</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{81,81}}</string>
				<key>offset</key>
				<string>{-1047,-153}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0026</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{81,81}}</string>
				<key>offset</key>
				<string>{-1025,-131}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0027</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{81,81}}</string>
				<key>offset</key>
				<string>{-999,-110}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0028</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{81,81}}</string>
				<key>offset</key>
				<string>{-974,-93}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0029</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{81,81}}</string>
				<key>offset</key>
				<string>{-941,-74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0030</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{81,81}}</string>
				<key>offset</key>
				<string>{-905,-56}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0031</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{81,81}}</string>
				<key>offset</key>
				<string>{-869,-42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0032</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{81,81}}</string>
				<key>offset</key>
				<string>{-819,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0033</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{81,81}}</string>
				<key>offset</key>
				<string>{-769,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0034</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{81,81}}</string>
				<key>offset</key>
				<string>{-714,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0035</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{81,81}}</string>
				<key>offset</key>
				<string>{-648,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0036</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{81,81}}</string>
				<key>offset</key>
				<string>{-582,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0037</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{81,81}}</string>
				<key>offset</key>
				<string>{-513,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0038</key>
			<dict>
				<key>frame</key>
				<string>{{416,0},{81,81}}</string>
				<key>offset</key>
				<string>{-441,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0039</key>
			<dict>
				<key>frame</key>
				<string>{{416,0},{81,81}}</string>
				<key>offset</key>
				<string>{-365,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0040</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{81,81}}</string>
				<key>offset</key>
				<string>{-293,-50}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0041</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{81,81}}</string>
				<key>offset</key>
				<string>{-209,-84}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0042</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{81,81}}</string>
				<key>offset</key>
				<string>{-131,-129}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0043</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{81,81}}</string>
				<key>offset</key>
				<string>{-63,-188}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,272},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>effe_41_1_0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{57,62}}</string>
				<key>offset</key>
				<string>{-34,-275}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1071,291},{57,62}}</string>
				<key>sourceSize</key>
				<string>{57,62}</string>
			</dict>
			<key>effe_41_1_0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{57,62}}</string>
				<key>offset</key>
				<string>{-34,-275}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1071,291},{57,62}}</string>
				<key>sourceSize</key>
				<string>{57,62}</string>
			</dict>
			<key>effe_41_1_0046</key>
			<dict>
				<key>frame</key>
				<string>{{57,81},{131,115}}</string>
				<key>offset</key>
				<string>{-3,-238}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{997,238},{131,115}}</string>
				<key>sourceSize</key>
				<string>{131,115}</string>
			</dict>
			<key>effe_41_1_0047</key>
			<dict>
				<key>frame</key>
				<string>{{188,81},{141,129}}</string>
				<key>offset</key>
				<string>{-1,-221}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{987,224},{141,129}}</string>
				<key>sourceSize</key>
				<string>{141,129}</string>
			</dict>
			<key>effe_41_1_0048</key>
			<dict>
				<key>frame</key>
				<string>{{329,81},{146,137}}</string>
				<key>offset</key>
				<string>{0,-211}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{982,216},{146,137}}</string>
				<key>sourceSize</key>
				<string>{146,137}</string>
			</dict>
			<key>effe_41_1_0049</key>
			<dict>
				<key>frame</key>
				<string>{{329,81},{146,137}}</string>
				<key>offset</key>
				<string>{0,-211}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{982,216},{146,137}}</string>
				<key>sourceSize</key>
				<string>{146,137}</string>
			</dict>
			<key>effe_41_1_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{131,186}}</string>
				<key>offset</key>
				<string>{-30,-165}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{997,167},{131,186}}</string>
				<key>sourceSize</key>
				<string>{131,186}</string>
			</dict>
			<key>effe_41_1_0051</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{131,186}}</string>
				<key>offset</key>
				<string>{-30,-165}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{997,167},{131,186}}</string>
				<key>sourceSize</key>
				<string>{131,186}</string>
			</dict>
			<key>effe_41_1_0052</key>
			<dict>
				<key>frame</key>
				<string>{{131,218},{121,151}}</string>
				<key>offset</key>
				<string>{-31,-195}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,202},{121,151}}</string>
				<key>sourceSize</key>
				<string>{121,151}</string>
			</dict>
			<key>effe_41_1_0053</key>
			<dict>
				<key>frame</key>
				<string>{{131,218},{121,151}}</string>
				<key>offset</key>
				<string>{-31,-195}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,202},{121,151}}</string>
				<key>sourceSize</key>
				<string>{121,151}</string>
			</dict>
			<key>effe_41_1_0054</key>
			<dict>
				<key>frame</key>
				<string>{{252,218},{98,102}}</string>
				<key>offset</key>
				<string>{-36,-236}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1030,251},{98,102}}</string>
				<key>sourceSize</key>
				<string>{98,102}</string>
			</dict>
			<key>effe_41_1_0055</key>
			<dict>
				<key>frame</key>
				<string>{{252,218},{98,102}}</string>
				<key>offset</key>
				<string>{-36,-236}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1030,251},{98,102}}</string>
				<key>sourceSize</key>
				<string>{98,102}</string>
			</dict>
			<key>effe_41_1_0056</key>
			<dict>
				<key>frame</key>
				<string>{{350,218},{54,70}}</string>
				<key>offset</key>
				<string>{-44,-268}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,283},{54,70}}</string>
				<key>sourceSize</key>
				<string>{54,70}</string>
			</dict>
			<key>effe_41_1_0057</key>
			<dict>
				<key>frame</key>
				<string>{{350,218},{54,70}}</string>
				<key>offset</key>
				<string>{-50,-276}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,283},{54,70}}</string>
				<key>sourceSize</key>
				<string>{54,70}</string>
			</dict>
			<key>effe_41_1_0058</key>
			<dict>
				<key>frame</key>
				<string>{{350,218},{54,70}}</string>
				<key>offset</key>
				<string>{-50,-276}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,283},{54,70}}</string>
				<key>sourceSize</key>
				<string>{54,70}</string>
			</dict>
			<key>effe_41_1_0059</key>
			<dict>
				<key>frame</key>
				<string>{{350,218},{54,70}}</string>
				<key>offset</key>
				<string>{-50,-276}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,283},{54,70}}</string>
				<key>sourceSize</key>
				<string>{54,70}</string>
			</dict>
			<key>effe_41_1_0060</key>
			<dict>
				<key>frame</key>
				<string>{{350,218},{54,70}}</string>
				<key>offset</key>
				<string>{-50,-276}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,283},{54,70}}</string>
				<key>sourceSize</key>
				<string>{54,70}</string>
			</dict>
			<key>effe_41_1_0061</key>
			<dict>
				<key>frame</key>
				<string>{{404,218},{37,62}}</string>
				<key>offset</key>
				<string>{-50,-276}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1091,291},{37,62}}</string>
				<key>sourceSize</key>
				<string>{37,62}</string>
			</dict>
			<key>effe_41_1_0062</key>
			<dict>
				<key>frame</key>
				<string>{{441,218},{37,62}}</string>
				<key>offset</key>
				<string>{-50,-276}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1091,291},{37,62}}</string>
				<key>sourceSize</key>
				<string>{37,62}</string>
			</dict>
			<key>effe_41_1_0063</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{37,62}}</string>
				<key>offset</key>
				<string>{-50,-276}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1091,291},{37,62}}</string>
				<key>sourceSize</key>
				<string>{37,62}</string>
			</dict>
			<key>effe_41_1_0064</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{0,0}}</string>
				<key>offset</key>
				<string>{-50,-276}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,353},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_41_1.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>effe_41_1.png</string>
		</dict>
	</dict>
</plist>
