<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_30_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{45,44}}</string>
				<key>offset</key>
				<string>{-68,-150}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,150},{45,44}}</string>
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>
			<key>effe_30_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{45,44}}</string>
				<key>offset</key>
				<string>{-50,-67}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,150},{45,44}}</string>
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>
			<key>effe_30_0002</key>
			<dict>
				<key>frame</key>
				<string>{{45,0},{77,87}}</string>
				<key>offset</key>
				<string>{-33,-43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,107},{77,87}}</string>
				<key>sourceSize</key>
				<string>{77,87}</string>
			</dict>
			<key>effe_30_0003</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{131,142}}</string>
				<key>offset</key>
				<string>{-13,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,52},{131,142}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>effe_30_0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{131,142}}</string>
				<key>offset</key>
				<string>{-13,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,52},{131,142}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>effe_30_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,284},{157,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,23},{157,171}}</string>
				<key>sourceSize</key>
				<string>{157,171}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_30.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>effe_30.png</string>
		</dict>
	</dict>
</plist>
