<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effe_8_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,599}}</string>
				<key>offset</key>
				<string>{-82,-519}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,519},{196,599}}</string>
				<key>sourceSize</key>
				<string>{196,599}</string>
			</dict>
			<key>effe_8_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,599}}</string>
				<key>offset</key>
				<string>{-42,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,519},{196,599}}</string>
				<key>sourceSize</key>
				<string>{196,599}</string>
			</dict>
			<key>effe_8_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,599}}</string>
				<key>offset</key>
				<string>{-42,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,519},{196,599}}</string>
				<key>sourceSize</key>
				<string>{196,599}</string>
			</dict>
			<key>effe_8_0003</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{191,600}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,518},{191,600}}</string>
				<key>sourceSize</key>
				<string>{191,600}</string>
			</dict>
			<key>effe_8_0004</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{191,600}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,518},{191,600}}</string>
				<key>sourceSize</key>
				<string>{191,600}</string>
			</dict>
			<key>effe_8_0005</key>
			<dict>
				<key>frame</key>
				<string>{{387,0},{261,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,518},{261,600}}</string>
				<key>sourceSize</key>
				<string>{261,600}</string>
			</dict>
			<key>effe_8_0006</key>
			<dict>
				<key>frame</key>
				<string>{{387,0},{261,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,518},{261,600}}</string>
				<key>sourceSize</key>
				<string>{261,600}</string>
			</dict>
			<key>effe_8_0007</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{261,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,518},{261,600}}</string>
				<key>sourceSize</key>
				<string>{261,600}</string>
			</dict>
			<key>effe_8_0008</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{261,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,518},{261,600}}</string>
				<key>sourceSize</key>
				<string>{261,600}</string>
			</dict>
			<key>effe_8_0009</key>
			<dict>
				<key>frame</key>
				<string>{{909,0},{232,611}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,507},{232,611}}</string>
				<key>sourceSize</key>
				<string>{232,611}</string>
			</dict>
			<key>effe_8_0010</key>
			<dict>
				<key>frame</key>
				<string>{{909,0},{232,611}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,507},{232,611}}</string>
				<key>sourceSize</key>
				<string>{232,611}</string>
			</dict>
			<key>effe_8_0011</key>
			<dict>
				<key>frame</key>
				<string>{{1141,0},{232,611}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,507},{232,611}}</string>
				<key>sourceSize</key>
				<string>{232,611}</string>
			</dict>
			<key>effe_8_0012</key>
			<dict>
				<key>frame</key>
				<string>{{1141,0},{232,611}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,507},{232,611}}</string>
				<key>sourceSize</key>
				<string>{232,611}</string>
			</dict>
			<key>effe_8_0013</key>
			<dict>
				<key>frame</key>
				<string>{{1373,0},{253,606}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,512},{253,606}}</string>
				<key>sourceSize</key>
				<string>{253,606}</string>
			</dict>
			<key>effe_8_0014</key>
			<dict>
				<key>frame</key>
				<string>{{1373,0},{253,606}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,512},{253,606}}</string>
				<key>sourceSize</key>
				<string>{253,606}</string>
			</dict>
			<key>effe_8_0015</key>
			<dict>
				<key>frame</key>
				<string>{{1626,0},{253,606}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,512},{253,606}}</string>
				<key>sourceSize</key>
				<string>{253,606}</string>
			</dict>
			<key>effe_8_0016</key>
			<dict>
				<key>frame</key>
				<string>{{1626,0},{253,606}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,512},{253,606}}</string>
				<key>sourceSize</key>
				<string>{253,606}</string>
			</dict>
			<key>effe_8_0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,611},{250,596}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,522},{250,596}}</string>
				<key>sourceSize</key>
				<string>{250,596}</string>
			</dict>
			<key>effe_8_0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,611},{250,596}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,522},{250,596}}</string>
				<key>sourceSize</key>
				<string>{250,596}</string>
			</dict>
			<key>effe_8_0019</key>
			<dict>
				<key>frame</key>
				<string>{{250,611},{250,596}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,522},{250,596}}</string>
				<key>sourceSize</key>
				<string>{250,596}</string>
			</dict>
			<key>effe_8_0020</key>
			<dict>
				<key>frame</key>
				<string>{{250,611},{250,596}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,522},{250,596}}</string>
				<key>sourceSize</key>
				<string>{250,596}</string>
			</dict>
			<key>effe_8_0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,599}}</string>
				<key>offset</key>
				<string>{-42,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,519},{196,599}}</string>
				<key>sourceSize</key>
				<string>{196,599}</string>
			</dict>
			<key>effe_8_0022</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,599}}</string>
				<key>offset</key>
				<string>{-42,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,519},{196,599}}</string>
				<key>sourceSize</key>
				<string>{196,599}</string>
			</dict>
			<key>effe_8_0023</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{191,600}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,518},{191,600}}</string>
				<key>sourceSize</key>
				<string>{191,600}</string>
			</dict>
			<key>effe_8_0024</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{191,600}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,518},{191,600}}</string>
				<key>sourceSize</key>
				<string>{191,600}</string>
			</dict>
			<key>effe_8_0025</key>
			<dict>
				<key>frame</key>
				<string>{{387,0},{261,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,518},{261,600}}</string>
				<key>sourceSize</key>
				<string>{261,600}</string>
			</dict>
			<key>effe_8_0026</key>
			<dict>
				<key>frame</key>
				<string>{{387,0},{261,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,518},{261,600}}</string>
				<key>sourceSize</key>
				<string>{261,600}</string>
			</dict>
			<key>effe_8_0027</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{261,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,518},{261,600}}</string>
				<key>sourceSize</key>
				<string>{261,600}</string>
			</dict>
			<key>effe_8_0028</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{261,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,518},{261,600}}</string>
				<key>sourceSize</key>
				<string>{261,600}</string>
			</dict>
			<key>effe_8_0029</key>
			<dict>
				<key>frame</key>
				<string>{{909,0},{232,611}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,507},{232,611}}</string>
				<key>sourceSize</key>
				<string>{232,611}</string>
			</dict>
			<key>effe_8_0030</key>
			<dict>
				<key>frame</key>
				<string>{{909,0},{232,611}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,507},{232,611}}</string>
				<key>sourceSize</key>
				<string>{232,611}</string>
			</dict>
			<key>effe_8_0031</key>
			<dict>
				<key>frame</key>
				<string>{{1141,0},{232,611}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,507},{232,611}}</string>
				<key>sourceSize</key>
				<string>{232,611}</string>
			</dict>
			<key>effe_8_0032</key>
			<dict>
				<key>frame</key>
				<string>{{1141,0},{232,611}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,507},{232,611}}</string>
				<key>sourceSize</key>
				<string>{232,611}</string>
			</dict>
			<key>effe_8_0033</key>
			<dict>
				<key>frame</key>
				<string>{{1373,0},{253,606}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,512},{253,606}}</string>
				<key>sourceSize</key>
				<string>{253,606}</string>
			</dict>
			<key>effe_8_0034</key>
			<dict>
				<key>frame</key>
				<string>{{1373,0},{253,606}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,512},{253,606}}</string>
				<key>sourceSize</key>
				<string>{253,606}</string>
			</dict>
			<key>effe_8_0035</key>
			<dict>
				<key>frame</key>
				<string>{{1626,0},{253,606}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,512},{253,606}}</string>
				<key>sourceSize</key>
				<string>{253,606}</string>
			</dict>
			<key>effe_8_0036</key>
			<dict>
				<key>frame</key>
				<string>{{1626,0},{253,606}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,512},{253,606}}</string>
				<key>sourceSize</key>
				<string>{253,606}</string>
			</dict>
			<key>effe_8_0037</key>
			<dict>
				<key>frame</key>
				<string>{{500,611},{250,596}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,522},{250,596}}</string>
				<key>sourceSize</key>
				<string>{250,596}</string>
			</dict>
			<key>effe_8_0038</key>
			<dict>
				<key>frame</key>
				<string>{{750,611},{250,607}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,511},{250,607}}</string>
				<key>sourceSize</key>
				<string>{250,607}</string>
			</dict>
			<key>effe_8_0039</key>
			<dict>
				<key>frame</key>
				<string>{{1000,611},{250,614}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,504},{250,614}}</string>
				<key>sourceSize</key>
				<string>{250,614}</string>
			</dict>
			<key>effe_8_0040</key>
			<dict>
				<key>frame</key>
				<string>{{1250,611},{250,602}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,516},{250,602}}</string>
				<key>sourceSize</key>
				<string>{250,602}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>effe_8.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>effe_8.png</string>
		</dict>
	</dict>
</plist>
