<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0007_03_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{15,21}}</string>
				<key>offset</key>
				<string>{-35,-45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,45},{15,21}}</string>
				<key>sourceSize</key>
				<string>{15,21}</string>
			</dict>
			<key>map_obj_0007_03_0001</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0002</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0003</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0004</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0005</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0006</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0007</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0008</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0009</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0010</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0011</key>
			<dict>
				<key>frame</key>
				<string>{{15,0},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0012</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{77,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{77,51}}</string>
				<key>sourceSize</key>
				<string>{77,51}</string>
			</dict>
			<key>map_obj_0007_03_0013</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{77,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{77,51}}</string>
				<key>sourceSize</key>
				<string>{77,51}</string>
			</dict>
			<key>map_obj_0007_03_0014</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{78,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{78,51}}</string>
				<key>sourceSize</key>
				<string>{78,51}</string>
			</dict>
			<key>map_obj_0007_03_0015</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{78,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{78,51}}</string>
				<key>sourceSize</key>
				<string>{78,51}</string>
			</dict>
			<key>map_obj_0007_03_0016</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{78,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{78,51}}</string>
				<key>sourceSize</key>
				<string>{78,51}</string>
			</dict>
			<key>map_obj_0007_03_0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0020</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0021</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0022</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0023</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0026</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0027</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0028</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0033</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0035</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0036</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0037</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0039</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0041</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0042</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0043</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0047</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0049</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0050</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0051</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0052</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0053</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0054</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0055</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0056</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0057</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0058</key>
			<dict>
				<key>frame</key>
				<string>{{78,51},{78,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{78,52}}</string>
				<key>sourceSize</key>
				<string>{78,52}</string>
			</dict>
			<key>map_obj_0007_03_0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0060</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0061</key>
			<dict>
				<key>frame</key>
				<string>{{0,51},{78,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{78,53}}</string>
				<key>sourceSize</key>
				<string>{78,53}</string>
			</dict>
			<key>map_obj_0007_03_0062</key>
			<dict>
				<key>frame</key>
				<string>{{156,51},{77,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{77,51}}</string>
				<key>sourceSize</key>
				<string>{77,51}</string>
			</dict>
			<key>map_obj_0007_03_0063</key>
			<dict>
				<key>frame</key>
				<string>{{156,51},{77,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{77,51}}</string>
				<key>sourceSize</key>
				<string>{77,51}</string>
			</dict>
			<key>map_obj_0007_03_0064</key>
			<dict>
				<key>frame</key>
				<string>{{156,51},{77,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{77,51}}</string>
				<key>sourceSize</key>
				<string>{77,51}</string>
			</dict>
			<key>map_obj_0007_03_0065</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0066</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0067</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0068</key>
			<dict>
				<key>frame</key>
				<string>{{76,104},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>map_obj_0007_03_0069</key>
			<dict>
				<key>frame</key>
				<string>{{76,104},{76,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{76,50}}</string>
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0007_03.png</string>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>map_obj_0007_03.png</string>
		</dict>
	</dict>
</plist>
