<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0023_05_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{12,8}}</string>
				<key>offset</key>
				<string>{-83,-134}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,141},{12,8}}</string>
				<key>sourceSize</key>
				<string>{12,8}</string>
			</dict>
			<key>map_obj_0023_05_0001</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0002</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0003</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0004</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0005</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0006</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0007</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0008</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,149},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,149},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,149},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,149},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0013</key>
			<dict>
				<key>frame</key>
				<string>{{169,149},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0014</key>
			<dict>
				<key>frame</key>
				<string>{{169,149},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0015</key>
			<dict>
				<key>frame</key>
				<string>{{169,149},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
			<key>map_obj_0023_05_0016</key>
			<dict>
				<key>frame</key>
				<string>{{169,149},{169,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,149}}</string>
				<key>sourceSize</key>
				<string>{169,149}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0023_05.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0023_05.png</string>
		</dict>
	</dict>
</plist>
