<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0012_10_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{13,8}}</string>
				<key>offset</key>
				<string>{-50,-343}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{138,343},{13,8}}</string>
				<key>sourceSize</key>
				<string>{13,8}</string>
			</dict>
			<key>map_obj_0012_10_0001</key>
			<dict>
				<key>frame</key>
				<string>{{13,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0002</key>
			<dict>
				<key>frame</key>
				<string>{{13,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0003</key>
			<dict>
				<key>frame</key>
				<string>{{13,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0004</key>
			<dict>
				<key>frame</key>
				<string>{{13,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0005</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0006</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0007</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0008</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0009</key>
			<dict>
				<key>frame</key>
				<string>{{315,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0010</key>
			<dict>
				<key>frame</key>
				<string>{{315,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0011</key>
			<dict>
				<key>frame</key>
				<string>{{315,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0012</key>
			<dict>
				<key>frame</key>
				<string>{{315,0},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>map_obj_0012_10_0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,203},{151,148}}</string>
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0012_10.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0012_10.png</string>
		</dict>
	</dict>
</plist>
