<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0008_04_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,74}}</string>
				<key>offset</key>
				<string>{-46,-68}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,68},{85,74}}</string>
				<key>sourceSize</key>
				<string>{85,74}</string>
			</dict>
			<key>map_obj_0008_04_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,68},{85,74}}</string>
				<key>sourceSize</key>
				<string>{85,74}</string>
			</dict>
			<key>map_obj_0008_04_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,68},{85,74}}</string>
				<key>sourceSize</key>
				<string>{85,74}</string>
			</dict>
			<key>map_obj_0008_04_0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,68},{85,74}}</string>
				<key>sourceSize</key>
				<string>{85,74}</string>
			</dict>
			<key>map_obj_0008_04_0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{85,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,68},{85,74}}</string>
				<key>sourceSize</key>
				<string>{85,74}</string>
			</dict>
			<key>map_obj_0008_04_0005</key>
			<dict>
				<key>frame</key>
				<string>{{85,0},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0006</key>
			<dict>
				<key>frame</key>
				<string>{{85,0},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0007</key>
			<dict>
				<key>frame</key>
				<string>{{85,0},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0008</key>
			<dict>
				<key>frame</key>
				<string>{{85,0},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0013</key>
			<dict>
				<key>frame</key>
				<string>{{86,74},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0014</key>
			<dict>
				<key>frame</key>
				<string>{{86,74},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0015</key>
			<dict>
				<key>frame</key>
				<string>{{86,74},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
			<key>map_obj_0008_04_0016</key>
			<dict>
				<key>frame</key>
				<string>{{86,74},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,68},{86,74}}</string>
				<key>sourceSize</key>
				<string>{86,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0008_04.png</string>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>map_obj_0008_04.png</string>
		</dict>
	</dict>
</plist>
