<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0052_03_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{10,10}}</string>
				<key>offset</key>
				<string>{-21,-550}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,550},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>map_obj_0052_03_0001</key>
			<dict>
				<key>frame</key>
				<string>{{10,0},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0002</key>
			<dict>
				<key>frame</key>
				<string>{{10,0},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0003</key>
			<dict>
				<key>frame</key>
				<string>{{10,0},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0004</key>
			<dict>
				<key>frame</key>
				<string>{{10,0},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
			<key>map_obj_0052_03_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,166},{42,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{42,83}}</string>
				<key>sourceSize</key>
				<string>{42,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0052_03.png</string>
			<key>size</key>
			<string>{64,256}</string>
			<key>textureFileName</key>
			<string>map_obj_0052_03.png</string>
		</dict>
	</dict>
</plist>
