<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0055_08_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-282}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0022</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0023</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0033</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0035</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0036</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0039</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0042</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0043</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0047</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0049</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0051</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0052</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0053</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0054</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0055</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0056</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0057</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0058</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
			<key>map_obj_0055_08_0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,377}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{405,377}}</string>
				<key>sourceSize</key>
				<string>{405,377}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0055_08.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0055_08.png</string>
		</dict>
	</dict>
</plist>
