<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0053_10_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{62,151}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,72},{62,151}}</string>
				<key>sourceSize</key>
				<string>{62,151}</string>
			</dict>
			<key>map_obj_0053_10_0001</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0002</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0003</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0004</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0005</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0006</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{62,151}}</string>
				<key>offset</key>
				<string>{-17,-72}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,72},{62,151}}</string>
				<key>sourceSize</key>
				<string>{62,151}</string>
			</dict>
			<key>map_obj_0053_10_0008</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0009</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{79,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,223}}</string>
				<key>sourceSize</key>
				<string>{79,223}</string>
			</dict>
			<key>map_obj_0053_10_0010</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0011</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{79,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,223}}</string>
				<key>sourceSize</key>
				<string>{79,223}</string>
			</dict>
			<key>map_obj_0053_10_0012</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0013</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{68,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,114},{68,109}}</string>
				<key>sourceSize</key>
				<string>{68,109}</string>
			</dict>
			<key>map_obj_0053_10_0014</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0015</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0016</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0017</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0018</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0019</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0020</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0021</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0022</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0023</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{62,151}}</string>
				<key>offset</key>
				<string>{-17,-72}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,72},{62,151}}</string>
				<key>sourceSize</key>
				<string>{62,151}</string>
			</dict>
			<key>map_obj_0053_10_0024</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0025</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{79,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,223}}</string>
				<key>sourceSize</key>
				<string>{79,223}</string>
			</dict>
			<key>map_obj_0053_10_0026</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0027</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{68,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,114},{68,109}}</string>
				<key>sourceSize</key>
				<string>{68,109}</string>
			</dict>
			<key>map_obj_0053_10_0028</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{62,151}}</string>
				<key>offset</key>
				<string>{-17,-72}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,72},{62,151}}</string>
				<key>sourceSize</key>
				<string>{62,151}</string>
			</dict>
			<key>map_obj_0053_10_0030</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{68,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,114},{68,109}}</string>
				<key>sourceSize</key>
				<string>{68,109}</string>
			</dict>
			<key>map_obj_0053_10_0031</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0032</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{68,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,114},{68,109}}</string>
				<key>sourceSize</key>
				<string>{68,109}</string>
			</dict>
			<key>map_obj_0053_10_0033</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0034</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0035</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0036</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0037</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0038</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0039</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0040</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0041</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0042</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0043</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0044</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0045</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0046</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0047</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0048</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_10_0049</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{0,0}}</string>
				<key>offset</key>
				<string>{233,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,223},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0053_10.png</string>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>map_obj_0053_10.png</string>
		</dict>
	</dict>
</plist>
