<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0053_08_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,35},{56,74}}</string>
				<key>sourceSize</key>
				<string>{56,74}</string>
			</dict>
			<key>map_obj_0053_08_0001</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0002</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0003</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0004</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0005</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0006</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0007</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0008</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0009</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0010</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0011</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,35},{56,74}}</string>
				<key>sourceSize</key>
				<string>{56,74}</string>
			</dict>
			<key>map_obj_0053_08_0013</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,35},{56,74}}</string>
				<key>sourceSize</key>
				<string>{56,74}</string>
			</dict>
			<key>map_obj_0053_08_0015</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{56,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,109}}</string>
				<key>sourceSize</key>
				<string>{56,109}</string>
			</dict>
			<key>map_obj_0053_08_0017</key>
			<dict>
				<key>frame</key>
				<string>{{56,74},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{56,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,109}}</string>
				<key>sourceSize</key>
				<string>{56,109}</string>
			</dict>
			<key>map_obj_0053_08_0019</key>
			<dict>
				<key>frame</key>
				<string>{{56,74},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{42,52}}</string>
				<key>offset</key>
				<string>{-4,-57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,57},{42,52}}</string>
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>map_obj_0053_08_0021</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0022</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{42,52}}</string>
				<key>offset</key>
				<string>{-4,-57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,57},{42,52}}</string>
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>map_obj_0053_08_0023</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0024</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0025</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0026</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0027</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0028</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0029</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0030</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0031</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0032</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0033</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0034</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0035</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0036</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0037</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0038</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0039</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0040</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0041</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0042</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,35},{56,74}}</string>
				<key>sourceSize</key>
				<string>{56,74}</string>
			</dict>
			<key>map_obj_0053_08_0043</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{56,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,109}}</string>
				<key>sourceSize</key>
				<string>{56,109}</string>
			</dict>
			<key>map_obj_0053_08_0045</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{56,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,109}}</string>
				<key>sourceSize</key>
				<string>{56,109}</string>
			</dict>
			<key>map_obj_0053_08_0047</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{42,52}}</string>
				<key>offset</key>
				<string>{-4,-57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,57},{42,52}}</string>
				<key>sourceSize</key>
				<string>{42,52}</string>
			</dict>
			<key>map_obj_0053_08_0049</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0050</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0051</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0052</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0053</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0054</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0055</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0056</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0057</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0058</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0059</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0060</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0061</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0062</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0063</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0064</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0065</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0066</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0067</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0068</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0069</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0070</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0071</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{56,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,109}}</string>
				<key>sourceSize</key>
				<string>{56,109}</string>
			</dict>
			<key>map_obj_0053_08_0072</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0073</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0074</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0075</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0076</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0077</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0078</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0079</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0080</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0081</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0082</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0083</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0084</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0085</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0086</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0087</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0088</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0089</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0090</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0091</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0092</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0093</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0094</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0095</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0096</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0097</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0098</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0099</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0100</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0101</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0102</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0103</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0104</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0105</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0106</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0107</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0108</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0109</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0110</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0111</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0112</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0113</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0114</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0115</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0116</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0117</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0118</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0119</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0120</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0121</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0122</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0123</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0124</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0125</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0126</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0127</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0128</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0129</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0130</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0131</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0132</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_08_0133</key>
			<dict>
				<key>frame</key>
				<string>{{42,183},{0,0}}</string>
				<key>offset</key>
				<string>{710,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,109},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0053_08.png</string>
			<key>size</key>
			<string>{64,256}</string>
			<key>textureFileName</key>
			<string>map_obj_0053_08.png</string>
		</dict>
	</dict>
</plist>
