<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0014_17_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{9,8}}</string>
				<key>offset</key>
				<string>{-73,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,150},{9,8}}</string>
				<key>sourceSize</key>
				<string>{9,8}</string>
			</dict>
			<key>map_obj_0014_17_0001</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0002</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0003</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0004</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0005</key>
			<dict>
				<key>frame</key>
				<string>{{125,0},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0006</key>
			<dict>
				<key>frame</key>
				<string>{{125,0},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0007</key>
			<dict>
				<key>frame</key>
				<string>{{125,0},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0008</key>
			<dict>
				<key>frame</key>
				<string>{{125,0},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0013</key>
			<dict>
				<key>frame</key>
				<string>{{116,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0014</key>
			<dict>
				<key>frame</key>
				<string>{{116,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0015</key>
			<dict>
				<key>frame</key>
				<string>{{116,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0016</key>
			<dict>
				<key>frame</key>
				<string>{{116,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
			<key>map_obj_0014_17_0017</key>
			<dict>
				<key>frame</key>
				<string>{{116,158},{116,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,158}}</string>
				<key>sourceSize</key>
				<string>{116,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0014_17.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0014_17.png</string>
		</dict>
	</dict>
</plist>
