<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0042_03_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{-240,-320}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0011</key>
			<dict>
				<key>frame</key>
				<string>{{480,320},{0,0}}</string>
				<key>offset</key>
				<string>{240,320}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{720,640},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0042_03_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0022</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0023</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0033</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0035</key>
			<dict>
				<key>frame</key>
				<string>{{480,320},{0,0}}</string>
				<key>offset</key>
				<string>{240,320}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{720,640},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0042_03_0036</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0039</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
			<key>map_obj_0042_03_0042</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,320},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0042_03.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>map_obj_0042_03.png</string>
		</dict>
	</dict>
</plist>
