<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0004_03_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{21,20}}</string>
				<key>offset</key>
				<string>{-65,-182}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{110,182},{21,20}}</string>
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>map_obj_0004_03_0001</key>
			<dict>
				<key>frame</key>
				<string>{{21,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0002</key>
			<dict>
				<key>frame</key>
				<string>{{21,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0003</key>
			<dict>
				<key>frame</key>
				<string>{{21,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0004</key>
			<dict>
				<key>frame</key>
				<string>{{152,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0005</key>
			<dict>
				<key>frame</key>
				<string>{{152,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0006</key>
			<dict>
				<key>frame</key>
				<string>{{152,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0007</key>
			<dict>
				<key>frame</key>
				<string>{{283,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0008</key>
			<dict>
				<key>frame</key>
				<string>{{283,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0009</key>
			<dict>
				<key>frame</key>
				<string>{{283,0},{131,191}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{131,191}}</string>
				<key>sourceSize</key>
				<string>{131,191}</string>
			</dict>
			<key>map_obj_0004_03_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{131,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{131,198}}</string>
				<key>sourceSize</key>
				<string>{131,198}</string>
			</dict>
			<key>map_obj_0004_03_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{131,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{131,198}}</string>
				<key>sourceSize</key>
				<string>{131,198}</string>
			</dict>
			<key>map_obj_0004_03_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{131,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{131,198}}</string>
				<key>sourceSize</key>
				<string>{131,198}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0004_03.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0004_03.png</string>
		</dict>
	</dict>
</plist>
