<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0007_04_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{9,17}}</string>
				<key>offset</key>
				<string>{-25,-48}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,48},{9,17}}</string>
				<key>sourceSize</key>
				<string>{9,17}</string>
			</dict>
			<key>map_obj_0007_04_0001</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0002</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0003</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0004</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0005</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0006</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0007</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0008</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0009</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0010</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0011</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0012</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0013</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0014</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0015</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0016</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0017</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0018</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0019</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0020</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0021</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0022</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0023</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0024</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0025</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0026</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0027</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0028</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0029</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0032</key>
			<dict>
				<key>frame</key>
				<string>{{42,48},{42,49}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{42,49}}</string>
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>
			<key>map_obj_0007_04_0033</key>
			<dict>
				<key>frame</key>
				<string>{{42,48},{42,49}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{42,49}}</string>
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>
			<key>map_obj_0007_04_0034</key>
			<dict>
				<key>frame</key>
				<string>{{84,48},{43,50}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{43,50}}</string>
				<key>sourceSize</key>
				<string>{43,50}</string>
			</dict>
			<key>map_obj_0007_04_0035</key>
			<dict>
				<key>frame</key>
				<string>{{84,48},{43,50}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{43,50}}</string>
				<key>sourceSize</key>
				<string>{43,50}</string>
			</dict>
			<key>map_obj_0007_04_0036</key>
			<dict>
				<key>frame</key>
				<string>{{127,48},{43,51}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{43,51}}</string>
				<key>sourceSize</key>
				<string>{43,51}</string>
			</dict>
			<key>map_obj_0007_04_0037</key>
			<dict>
				<key>frame</key>
				<string>{{127,48},{43,51}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{43,51}}</string>
				<key>sourceSize</key>
				<string>{43,51}</string>
			</dict>
			<key>map_obj_0007_04_0038</key>
			<dict>
				<key>frame</key>
				<string>{{170,48},{44,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{44,52}}</string>
				<key>sourceSize</key>
				<string>{44,52}</string>
			</dict>
			<key>map_obj_0007_04_0039</key>
			<dict>
				<key>frame</key>
				<string>{{170,48},{44,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{44,52}}</string>
				<key>sourceSize</key>
				<string>{44,52}</string>
			</dict>
			<key>map_obj_0007_04_0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{44,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,12},{44,53}}</string>
				<key>sourceSize</key>
				<string>{44,53}</string>
			</dict>
			<key>map_obj_0007_04_0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{44,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,12},{44,53}}</string>
				<key>sourceSize</key>
				<string>{44,53}</string>
			</dict>
			<key>map_obj_0007_04_0042</key>
			<dict>
				<key>frame</key>
				<string>{{44,100},{44,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{44,52}}</string>
				<key>sourceSize</key>
				<string>{44,52}</string>
			</dict>
			<key>map_obj_0007_04_0043</key>
			<dict>
				<key>frame</key>
				<string>{{44,100},{44,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{44,52}}</string>
				<key>sourceSize</key>
				<string>{44,52}</string>
			</dict>
			<key>map_obj_0007_04_0044</key>
			<dict>
				<key>frame</key>
				<string>{{88,100},{43,51}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{43,51}}</string>
				<key>sourceSize</key>
				<string>{43,51}</string>
			</dict>
			<key>map_obj_0007_04_0045</key>
			<dict>
				<key>frame</key>
				<string>{{88,100},{43,51}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{43,51}}</string>
				<key>sourceSize</key>
				<string>{43,51}</string>
			</dict>
			<key>map_obj_0007_04_0046</key>
			<dict>
				<key>frame</key>
				<string>{{131,100},{43,50}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{43,50}}</string>
				<key>sourceSize</key>
				<string>{43,50}</string>
			</dict>
			<key>map_obj_0007_04_0047</key>
			<dict>
				<key>frame</key>
				<string>{{131,100},{43,50}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{43,50}}</string>
				<key>sourceSize</key>
				<string>{43,50}</string>
			</dict>
			<key>map_obj_0007_04_0048</key>
			<dict>
				<key>frame</key>
				<string>{{174,100},{41,49}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,16},{41,49}}</string>
				<key>sourceSize</key>
				<string>{41,49}</string>
			</dict>
			<key>map_obj_0007_04_0049</key>
			<dict>
				<key>frame</key>
				<string>{{174,100},{41,49}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,16},{41,49}}</string>
				<key>sourceSize</key>
				<string>{41,49}</string>
			</dict>
			<key>map_obj_0007_04_0050</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0051</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0052</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0053</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0054</key>
			<dict>
				<key>frame</key>
				<string>{{50,0},{41,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{41,48}}</string>
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>map_obj_0007_04_0055</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0056</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0057</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0058</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0059</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>map_obj_0007_04_0060</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{42,48}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{42,48}}</string>
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0007_04.png</string>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>map_obj_0007_04.png</string>
		</dict>
	</dict>
</plist>
