<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0037_01_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{11,13}}</string>
				<key>offset</key>
				<string>{-72,-117}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,134},{11,13}}</string>
				<key>sourceSize</key>
				<string>{11,13}</string>
			</dict>
			<key>map_obj_0037_01_0001</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0002</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0003</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0004</key>
			<dict>
				<key>frame</key>
				<string>{{11,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0005</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0006</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0007</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0008</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0009</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0010</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0011</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0012</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
			<key>map_obj_0037_01_0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,147}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0037_01.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0037_01.png</string>
		</dict>
	</dict>
</plist>
