<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0014_15_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{9,11}}</string>
				<key>offset</key>
				<string>{-23,-175}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,196},{9,11}}</string>
				<key>sourceSize</key>
				<string>{9,11}</string>
			</dict>
			<key>map_obj_0014_15_0001</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0002</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0003</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0004</key>
			<dict>
				<key>frame</key>
				<string>{{9,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0005</key>
			<dict>
				<key>frame</key>
				<string>{{78,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0006</key>
			<dict>
				<key>frame</key>
				<string>{{78,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0007</key>
			<dict>
				<key>frame</key>
				<string>{{78,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0008</key>
			<dict>
				<key>frame</key>
				<string>{{78,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0009</key>
			<dict>
				<key>frame</key>
				<string>{{147,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0010</key>
			<dict>
				<key>frame</key>
				<string>{{147,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0011</key>
			<dict>
				<key>frame</key>
				<string>{{147,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0012</key>
			<dict>
				<key>frame</key>
				<string>{{147,0},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,207},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,207},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,207},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
			<key>map_obj_0014_15_0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,207},{69,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,207}}</string>
				<key>sourceSize</key>
				<string>{69,207}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0014_15.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0014_15.png</string>
		</dict>
	</dict>
</plist>
