<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0052_11_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{83,213}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,157},{83,213}}</string>
				<key>sourceSize</key>
				<string>{83,213}</string>
			</dict>
			<key>map_obj_0052_11_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{83,213}}</string>
				<key>offset</key>
				<string>{-12,-157}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,157},{83,213}}</string>
				<key>sourceSize</key>
				<string>{83,213}</string>
			</dict>
			<key>map_obj_0052_11_0002</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0003</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{117,367}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{117,367}}</string>
				<key>sourceSize</key>
				<string>{117,367}</string>
			</dict>
			<key>map_obj_0052_11_0004</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0005</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{117,367}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{117,367}}</string>
				<key>sourceSize</key>
				<string>{117,367}</string>
			</dict>
			<key>map_obj_0052_11_0006</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0007</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{117,367}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{117,367}}</string>
				<key>sourceSize</key>
				<string>{117,367}</string>
			</dict>
			<key>map_obj_0052_11_0008</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0009</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{117,204}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,166},{117,204}}</string>
				<key>sourceSize</key>
				<string>{117,204}</string>
			</dict>
			<key>map_obj_0052_11_0010</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0011</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{117,204}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,166},{117,204}}</string>
				<key>sourceSize</key>
				<string>{117,204}</string>
			</dict>
			<key>map_obj_0052_11_0012</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0013</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0014</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0015</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0016</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0017</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0018</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0019</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0020</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0021</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0022</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0023</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0024</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0025</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0026</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0027</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{83,213}}</string>
				<key>offset</key>
				<string>{-12,-157}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,157},{83,213}}</string>
				<key>sourceSize</key>
				<string>{83,213}</string>
			</dict>
			<key>map_obj_0052_11_0029</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0030</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{117,367}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{117,367}}</string>
				<key>sourceSize</key>
				<string>{117,367}</string>
			</dict>
			<key>map_obj_0052_11_0031</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0032</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{117,367}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{117,367}}</string>
				<key>sourceSize</key>
				<string>{117,367}</string>
			</dict>
			<key>map_obj_0052_11_0033</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0034</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{117,204}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,166},{117,204}}</string>
				<key>sourceSize</key>
				<string>{117,204}</string>
			</dict>
			<key>map_obj_0052_11_0035</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0036</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0037</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0038</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0039</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0040</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0041</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0042</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0043</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0044</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0045</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0046</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0047</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0048</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0049</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0050</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0051</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0052</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0053</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0054</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0055</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0056</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0057</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0058</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0059</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_11_0060</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{0,0}}</string>
				<key>offset</key>
				<string>{97,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,370},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0052_11.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0052_11.png</string>
		</dict>
	</dict>
</plist>
