<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0005_11_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{57,121}}</string>
				<key>offset</key>
				<string>{-29,-327}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,327},{57,121}}</string>
				<key>sourceSize</key>
				<string>{57,121}</string>
			</dict>
			<key>map_obj_0005_11_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{57,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,327},{57,121}}</string>
				<key>sourceSize</key>
				<string>{57,121}</string>
			</dict>
			<key>map_obj_0005_11_0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{57,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,327},{57,121}}</string>
				<key>sourceSize</key>
				<string>{57,121}</string>
			</dict>
			<key>map_obj_0005_11_0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{57,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,327},{57,121}}</string>
				<key>sourceSize</key>
				<string>{57,121}</string>
			</dict>
			<key>map_obj_0005_11_0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{57,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,327},{57,121}}</string>
				<key>sourceSize</key>
				<string>{57,121}</string>
			</dict>
			<key>map_obj_0005_11_0005</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0006</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0007</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0008</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0013</key>
			<dict>
				<key>frame</key>
				<string>{{58,122},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0014</key>
			<dict>
				<key>frame</key>
				<string>{{58,122},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0015</key>
			<dict>
				<key>frame</key>
				<string>{{58,122},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
			<key>map_obj_0005_11_0016</key>
			<dict>
				<key>frame</key>
				<string>{{58,122},{58,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,326},{58,122}}</string>
				<key>sourceSize</key>
				<string>{58,122}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0005_11.png</string>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>map_obj_0005_11.png</string>
		</dict>
	</dict>
</plist>
