<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0014_13_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{12,17}}</string>
				<key>offset</key>
				<string>{-152,-237}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,287},{12,17}}</string>
				<key>sourceSize</key>
				<string>{12,17}</string>
			</dict>
			<key>map_obj_0014_13_0001</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0002</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0003</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0004</key>
			<dict>
				<key>frame</key>
				<string>{{12,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0005</key>
			<dict>
				<key>frame</key>
				<string>{{269,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0006</key>
			<dict>
				<key>frame</key>
				<string>{{269,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0007</key>
			<dict>
				<key>frame</key>
				<string>{{269,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0008</key>
			<dict>
				<key>frame</key>
				<string>{{269,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0009</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0010</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0011</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0012</key>
			<dict>
				<key>frame</key>
				<string>{{526,0},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
			<key>map_obj_0014_13_0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{257,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,304}}</string>
				<key>sourceSize</key>
				<string>{257,304}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0014_13.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>map_obj_0014_13.png</string>
		</dict>
	</dict>
</plist>
