<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0053_07_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{97,158}}</string>
				<key>offset</key>
				<string>{-109,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,107},{97,158}}</string>
				<key>sourceSize</key>
				<string>{97,158}</string>
			</dict>
			<key>map_obj_0053_07_0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{97,158}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,107},{97,158}}</string>
				<key>sourceSize</key>
				<string>{97,158}</string>
			</dict>
			<key>map_obj_0053_07_0002</key>
			<dict>
				<key>frame</key>
				<string>{{97,0},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0003</key>
			<dict>
				<key>frame</key>
				<string>{{97,0},{100,264}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,1},{100,264}}</string>
				<key>sourceSize</key>
				<string>{100,264}</string>
			</dict>
			<key>map_obj_0053_07_0004</key>
			<dict>
				<key>frame</key>
				<string>{{197,0},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0005</key>
			<dict>
				<key>frame</key>
				<string>{{97,0},{100,264}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,1},{100,264}}</string>
				<key>sourceSize</key>
				<string>{100,264}</string>
			</dict>
			<key>map_obj_0053_07_0006</key>
			<dict>
				<key>frame</key>
				<string>{{197,0},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0007</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{74,128}}</string>
				<key>offset</key>
				<string>{0,-137}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,137},{74,128}}</string>
				<key>sourceSize</key>
				<string>{74,128}</string>
			</dict>
			<key>map_obj_0053_07_0008</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0009</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0010</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0011</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0012</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0013</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0014</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0015</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0016</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0017</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0018</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0019</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0020</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0021</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0022</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0023</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0024</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0025</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0026</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0027</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0028</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0029</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0030</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0031</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0032</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0033</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0034</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0035</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0036</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0037</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0038</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0039</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0040</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0041</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0042</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0043</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0044</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0045</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{97,158}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,107},{97,158}}</string>
				<key>sourceSize</key>
				<string>{97,158}</string>
			</dict>
			<key>map_obj_0053_07_0047</key>
			<dict>
				<key>frame</key>
				<string>{{0,264},{74,128}}</string>
				<key>offset</key>
				<string>{0,-137}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,137},{74,128}}</string>
				<key>sourceSize</key>
				<string>{74,128}</string>
			</dict>
			<key>map_obj_0053_07_0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{97,158}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,107},{97,158}}</string>
				<key>sourceSize</key>
				<string>{97,158}</string>
			</dict>
			<key>map_obj_0053_07_0049</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{97,158}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,107},{97,158}}</string>
				<key>sourceSize</key>
				<string>{97,158}</string>
			</dict>
			<key>map_obj_0053_07_0051</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0052</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0053</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0054</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0055</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0056</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0057</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0058</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0053_07_0059</key>
			<dict>
				<key>frame</key>
				<string>{{74,264},{0,0}}</string>
				<key>offset</key>
				<string>{851,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,265},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0053_07.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0053_07.png</string>
		</dict>
	</dict>
</plist>
