<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>map_obj_0052_12_0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,110},{82,202}}</string>
				<key>sourceSize</key>
				<string>{82,202}</string>
			</dict>
			<key>map_obj_0052_12_0001</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0002</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0003</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,202}}</string>
				<key>offset</key>
				<string>{0,-110}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,110},{82,202}}</string>
				<key>sourceSize</key>
				<string>{82,202}</string>
			</dict>
			<key>map_obj_0052_12_0005</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,202}}</string>
				<key>offset</key>
				<string>{0,-110}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,110},{82,202}}</string>
				<key>sourceSize</key>
				<string>{82,202}</string>
			</dict>
			<key>map_obj_0052_12_0007</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0008</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,312}}</string>
				<key>sourceSize</key>
				<string>{82,312}</string>
			</dict>
			<key>map_obj_0052_12_0009</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0010</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,312}}</string>
				<key>sourceSize</key>
				<string>{82,312}</string>
			</dict>
			<key>map_obj_0052_12_0011</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0012</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,312}}</string>
				<key>sourceSize</key>
				<string>{82,312}</string>
			</dict>
			<key>map_obj_0052_12_0013</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,202}}</string>
				<key>offset</key>
				<string>{0,-110}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,110},{82,202}}</string>
				<key>sourceSize</key>
				<string>{82,202}</string>
			</dict>
			<key>map_obj_0052_12_0015</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{54,171}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,141},{54,171}}</string>
				<key>sourceSize</key>
				<string>{54,171}</string>
			</dict>
			<key>map_obj_0052_12_0016</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0017</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0018</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0019</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0020</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0021</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0022</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0023</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0024</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0025</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0026</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0027</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0028</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0029</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0030</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0031</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0032</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0033</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0034</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0035</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0036</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0037</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0038</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0039</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0040</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0041</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0042</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0043</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0044</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,202}}</string>
				<key>offset</key>
				<string>{0,-110}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,110},{82,202}}</string>
				<key>sourceSize</key>
				<string>{82,202}</string>
			</dict>
			<key>map_obj_0052_12_0046</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0047</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,202}}</string>
				<key>offset</key>
				<string>{0,-110}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,110},{82,202}}</string>
				<key>sourceSize</key>
				<string>{82,202}</string>
			</dict>
			<key>map_obj_0052_12_0048</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0049</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,312}}</string>
				<key>sourceSize</key>
				<string>{82,312}</string>
			</dict>
			<key>map_obj_0052_12_0050</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0051</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,312}}</string>
				<key>sourceSize</key>
				<string>{82,312}</string>
			</dict>
			<key>map_obj_0052_12_0052</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0053</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,312}}</string>
				<key>sourceSize</key>
				<string>{82,312}</string>
			</dict>
			<key>map_obj_0052_12_0054</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0055</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,312}}</string>
				<key>sourceSize</key>
				<string>{82,312}</string>
			</dict>
			<key>map_obj_0052_12_0056</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0057</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{54,171}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,141},{54,171}}</string>
				<key>sourceSize</key>
				<string>{54,171}</string>
			</dict>
			<key>map_obj_0052_12_0058</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0059</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{54,171}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,141},{54,171}}</string>
				<key>sourceSize</key>
				<string>{54,171}</string>
			</dict>
			<key>map_obj_0052_12_0060</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0061</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0062</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0063</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0064</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0065</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0066</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0067</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0068</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0069</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0070</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0071</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0072</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0073</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0074</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0075</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0076</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0077</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0078</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0079</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>map_obj_0052_12_0080</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,312},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>map_obj_0052_12.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>map_obj_0052_12.png</string>
		</dict>
	</dict>
</plist>
